<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kentrasoft.cms.dao.CardPortDataMapper">
    <resultMap id="BaseResultMap" type="com.kentrasoft.cms.entity.CardPortData">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="lane_num" jdbcType="VARCHAR" property="laneNum"/>
        <result column="driving_record" jdbcType="VARCHAR" property="drivingRecord"/>
        <result column="license_num" jdbcType="VARCHAR" property="licenseNum"/>
        <result column="pass_time" jdbcType="TIMESTAMP" property="passTime"/>
        <result column="station_name" jdbcType="VARCHAR" property="stationName"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="point_gis_x" jdbcType="VARCHAR" property="pointGisX"/>
        <result column="point_gis_y" jdbcType="VARCHAR" property="pointGisY"/>
        <result column="point_code" jdbcType="VARCHAR" property="pointCode"/>
        <result column="extends1" jdbcType="VARCHAR" property="extends1"/>
        <result column="extends2" jdbcType="VARCHAR" property="extends2"/>
        <result column="extends3" jdbcType="VARCHAR" property="extends3"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, lane_num, driving_record, license_num, pass_time, station_name, img_url, `status`,point_gis_x,point_gis_y,point_code,extends1,extends2,extends3
    </sql>

    <!--根据行驶记录id查询卡口-->
    <select id="findByDrivingRecord" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        `card_port_data`
        WHERE
        `driving_record` = #{drivingRecord,jdbcType=VARCHAR}
        ORDER BY
        `pass_time` DESC
    </select>
    
    <!--根据车牌查询卡口未结束数据，5.8G设备接收数据  -->
    <select id="queryCardportdataNotend" parameterType="java.lang.String" resultMap="BaseResultMap">
       select
        <include refid="Base_Column_List"></include>
       from card_port_data
       where license_num=#{license,jdbcType=VARCHAR}
       and   status=#{status,jdbcType=VARCHAR}
       and   pass_time <![CDATA[ <=SYSDATE()]]>
       order by  pass_time desc
    </select>
    
    <!--更新卡口数据状态  -->
    <update id="updatecardportStatus">
       update card_port_data set status = #{status,jdbcType=VARCHAR} where driving_record = #{trackId,jdbcType=VARCHAR}
    </update>
    
    <!--根据车牌、进出站口时间查询卡口数据  -->
  	<resultMap id="importpointQueryResults" type="com.kentrasoft.cms.port.entity.importPoint.ImportpointQueryResult">
     <result column="trackid" jdbcType="VARCHAR" property="trackid" />
     <result column="license" jdbcType="VARCHAR" property="license" />
     <result column="passtime" jdbcType="TIMESTAMP" property="passtiem" />
     <result column="gisx" jdbcType="VARCHAR" property="gisx" />
     <result column="gisy" jdbcType="VARCHAR" property="gisy" />
     <result column="devicename" jdbcType="VARCHAR" property="devicename" />
     <result column="datafrom" jdbcType="VARCHAR" property="datafrom" />
  	</resultMap>
  	
  	<!-- 根据车牌号查询卡口数据 -->
  	<resultMap id="cardportPointQueryResults" type="com.kentrasoft.cms.port.entity.cardPortPoint.CardportPointQueryResult">
     <result column="trackid" jdbcType="VARCHAR" property="trackid" />
     <result column="license" jdbcType="VARCHAR" property="license" />
     <result column="passtime" jdbcType="TIMESTAMP" property="passtiem" />
     <result column="gisx" jdbcType="VARCHAR" property="gisx" />
     <result column="gisy" jdbcType="VARCHAR" property="gisy" />
     <result column="devicename" jdbcType="VARCHAR" property="devicename" />
     <result column="datafrom" jdbcType="VARCHAR" property="datafrom" />
    </resultMap>
  	
  	<select id="pointQueryResults" parameterType="java.lang.String" resultMap="cardportPointQueryResults">
  		SELECT a.driving_record AS trackid FROM card_port_data a
	 	WHERE  a.license_num = #{license,jdbcType=VARCHAR}
  	</select>
  	
    <select id="queryCardPort" parameterType="java.lang.String" resultMap="importpointQueryResults">
  	 SELECT a.driving_record AS trackid FROM card_port_data a
	 WHERE  a.license_num = #{license,jdbcType=VARCHAR}
	 AND 	a.pass_time <![CDATA[ >= #{instationTime,jdbcType=TIMESTAMP}]]>
	 AND 	a.pass_time <![CDATA[ <= #{outstationTime,jdbcType=TIMESTAMP}]]>
  	 AND	a.status = "02"	
  	</select>
	<!-- 保存卡口数据 -->
    <insert id="insert" parameterType="com.kentrasoft.cms.entity.CardPortData">
	insert into card_port_data (
		id,
		lane_num,
		driving_record,
		license_num,
		pass_time,
		station_name,
		img_url,
		`status`,
		point_gis_x,
		point_gis_y,
		point_code,
		extends1,
		extends2,
		extends3
		)
	values (
		#{id,jdbcType=INTEGER},
		#{laneNum,jdbcType=VARCHAR},
		#{drivingRecord,jdbcType=VARCHAR},
		#{licenseNum,jdbcType=VARCHAR},
		#{passTime,jdbcType=TIMESTAMP},
		#{stationName,jdbcType=VARCHAR},
		#{imgUrl,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{pointGisX,jdbcType=VARCHAR},
		#{pointGisY,jdbcType=VARCHAR},
		#{pointCode,jdbcType=VARCHAR},
		#{extends1,jdbcType=VARCHAR},
		#{extends2,jdbcType=VARCHAR},
		#{extends3,jdbcType=VARCHAR})
  	</insert> 
  	<select id="getCardPortIllegalImages" parameterType="java.lang.String" resultMap="BaseResultMap">
  		SELECT 
  		<include refid="Base_Column_List"></include>
  		FROM card_port_data a
  		WHERE a.license_num = #{licenseNum,jdbcType=VARCHAR}
  		AND	  a.driving_record = #{drivingRecord,jdbcType=VARCHAR}
  		ORDER BY a.pass_time ASC;
  	</select>   
</mapper>