<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kentrasoft.cms.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.kentrasoft.cms.entity.Customer">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="national" jdbcType="VARCHAR" property="national"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="document_type" jdbcType="VARCHAR" property="documentType"/>
        <result column="document_num" jdbcType="VARCHAR" property="documentNum"/>
        <result column="link_telphone1" jdbcType="VARCHAR" property="linkTelphone1"/>
        <result column="link_telphone2" jdbcType="VARCHAR" property="linkTelphone2"/>
        <result column="link_address" jdbcType="VARCHAR" property="linkAddress"/>
        <result column="drive_num" jdbcType="VARCHAR" property="driveNum"/>
        <result column="drive_type" jdbcType="VARCHAR" property="driveType"/>
        <result column="evidence_start" jdbcType="TIMESTAMP" property="evidenceStart"/>
        <result column="effective_start" jdbcType="TIMESTAMP" property="effectiveStart"/>
        <result column="effective_end" jdbcType="TIMESTAMP" property="effectiveEnd"/>
        <result column="expiration_date" jdbcType="VARCHAR" property="expirationDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="customer_status" jdbcType="VARCHAR" property="customerStatus"/>
        <result column="driver_license" jdbcType="VARCHAR" property="driverLicense"/>
        <result column="extends1" jdbcType="VARCHAR" property="extends1"/>
        <result column="extends2" jdbcType="VARCHAR" property="extends2"/>
        <result column="extends3" jdbcType="VARCHAR" property="extends3"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, `name`,password, sex, `national`, birthday, photo, document_type, document_num, link_telphone1,
    link_telphone2, link_address, drive_num, drive_type, evidence_start, effective_start, 
    effective_end, expiration_date, create_time, update_time, customer_status, driver_license, 
    extends1, extends2, extends3
  </sql>
    <select id="selectByExample" parameterType="com.kentrasoft.cms.entity.CustomerExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from customer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null and limitStart>=0">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.kentrasoft.cms.entity.CustomerExample">
        delete from customer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.kentrasoft.cms.entity.Customer">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into customer (id, `name`,password, sex,
        `national`, birthday, photo,
        document_type, document_num, link_telphone1,
        link_telphone2, link_address, drive_num,
        drive_type, evidence_start, effective_start,
        effective_end, expiration_date, create_time,
        update_time, customer_status, driver_license,
        extends1, extends2, extends3
        )
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
        #{national,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{photo,jdbcType=VARCHAR},
        #{documentType,jdbcType=VARCHAR}, #{documentNum,jdbcType=VARCHAR}, #{linkTelphone1,jdbcType=VARCHAR},
        #{linkTelphone2,jdbcType=VARCHAR}, #{linkAddress,jdbcType=VARCHAR}, #{driveNum,jdbcType=VARCHAR},
        #{driveType,jdbcType=VARCHAR}, #{evidenceStart,jdbcType=TIMESTAMP}, #{effectiveStart,jdbcType=TIMESTAMP},
        #{effectiveEnd,jdbcType=TIMESTAMP}, #{expirationDate,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{customerStatus,jdbcType=VARCHAR}, #{driverLicense,jdbcType=VARCHAR},
        #{extends1,jdbcType=VARCHAR}, #{extends2,jdbcType=VARCHAR}, #{extends3,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.kentrasoft.cms.entity.Customer">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="national != null">
                `national`,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="documentType != null">
                document_type,
            </if>
            <if test="documentNum != null">
                document_num,
            </if>
            <if test="linkTelphone1 != null">
                link_telphone1,
            </if>
            <if test="linkTelphone2 != null">
                link_telphone2,
            </if>
            <if test="linkAddress != null">
                link_address,
            </if>
            <if test="driveNum != null">
                drive_num,
            </if>
            <if test="driveType != null">
                drive_type,
            </if>
            <if test="evidenceStart != null">
                evidence_start,
            </if>
            <if test="effectiveStart != null">
                effective_start,
            </if>
            <if test="effectiveEnd != null">
                effective_end,
            </if>
            <if test="expirationDate != null">
                expiration_date,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="customerStatus != null">
                customer_status,
            </if>
            <if test="driverLicense != null">
                driver_license,
            </if>
            <if test="extends1 != null">
                extends1,
            </if>
            <if test="extends2 != null">
                extends2,
            </if>
            <if test="extends3 != null">
                extends3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="national != null">
                #{national,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="documentType != null">
                #{documentType,jdbcType=VARCHAR},
            </if>
            <if test="documentNum != null">
                #{documentNum,jdbcType=VARCHAR},
            </if>
            <if test="linkTelphone1 != null">
                #{linkTelphone1,jdbcType=VARCHAR},
            </if>
            <if test="linkTelphone2 != null">
                #{linkTelphone2,jdbcType=VARCHAR},
            </if>
            <if test="linkAddress != null">
                #{linkAddress,jdbcType=VARCHAR},
            </if>
            <if test="driveNum != null">
                #{driveNum,jdbcType=VARCHAR},
            </if>
            <if test="driveType != null">
                #{driveType,jdbcType=VARCHAR},
            </if>
            <if test="evidenceStart != null">
                #{evidenceStart,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveStart != null">
                #{effectiveStart,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveEnd != null">
                #{effectiveEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="expirationDate != null">
                #{expirationDate,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="customerStatus != null">
                #{customerStatus,jdbcType=VARCHAR},
            </if>
            <if test="driverLicense != null">
                #{driverLicense,jdbcType=VARCHAR},
            </if>
            <if test="extends1 != null">
                #{extends1,jdbcType=VARCHAR},
            </if>
            <if test="extends2 != null">
                #{extends2,jdbcType=VARCHAR},
            </if>
            <if test="extends3 != null">
                #{extends3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.kentrasoft.cms.entity.CustomerExample" resultType="java.lang.Long">
        select count(*) from customer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update customer
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.name != null">
                `name` = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.sex != null">
                sex = #{record.sex,jdbcType=VARCHAR},
            </if>
            <if test="record.national != null">
                `national` = #{record.national,jdbcType=VARCHAR},
            </if>
            <if test="record.birthday != null">
                birthday = #{record.birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="record.photo != null">
                photo = #{record.photo,jdbcType=VARCHAR},
            </if>
            <if test="record.documentType != null">
                document_type = #{record.documentType,jdbcType=VARCHAR},
            </if>
            <if test="record.documentNum != null">
                document_num = #{record.documentNum,jdbcType=VARCHAR},
            </if>
            <if test="record.linkTelphone1 != null">
                link_telphone1 = #{record.linkTelphone1,jdbcType=VARCHAR},
            </if>
            <if test="record.linkTelphone2 != null">
                link_telphone2 = #{record.linkTelphone2,jdbcType=VARCHAR},
            </if>
            <if test="record.linkAddress != null">
                link_address = #{record.linkAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.driveNum != null">
                drive_num = #{record.driveNum,jdbcType=VARCHAR},
            </if>
            <if test="record.driveType != null">
                drive_type = #{record.driveType,jdbcType=VARCHAR},
            </if>
            <if test="record.evidenceStart != null">
                evidence_start = #{record.evidenceStart,jdbcType=TIMESTAMP},
            </if>
            <if test="record.effectiveStart != null">
                effective_start = #{record.effectiveStart,jdbcType=TIMESTAMP},
            </if>
            <if test="record.effectiveEnd != null">
                effective_end = #{record.effectiveEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="record.expirationDate != null">
                expiration_date = #{record.expirationDate,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.customerStatus != null">
                customer_status = #{record.customerStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.driverLicense != null">
                driver_license = #{record.driverLicense,jdbcType=VARCHAR},
            </if>
            <if test="record.extends1 != null">
                extends1 = #{record.extends1,jdbcType=VARCHAR},
            </if>
            <if test="record.extends2 != null">
                extends2 = #{record.extends2,jdbcType=VARCHAR},
            </if>
            <if test="record.extends3 != null">
                extends3 = #{record.extends3,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update customer
        set id = #{record.id,jdbcType=BIGINT},
        `name` = #{record.name,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        sex = #{record.sex,jdbcType=VARCHAR},
        `national` = #{record.national,jdbcType=VARCHAR},
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
        photo = #{record.photo,jdbcType=VARCHAR},
        document_type = #{record.documentType,jdbcType=VARCHAR},
        document_num = #{record.documentNum,jdbcType=VARCHAR},
        link_telphone1 = #{record.linkTelphone1,jdbcType=VARCHAR},
        link_telphone2 = #{record.linkTelphone2,jdbcType=VARCHAR},
        link_address = #{record.linkAddress,jdbcType=VARCHAR},
        drive_num = #{record.driveNum,jdbcType=VARCHAR},
        drive_type = #{record.driveType,jdbcType=VARCHAR},
        evidence_start = #{record.evidenceStart,jdbcType=TIMESTAMP},
        effective_start = #{record.effectiveStart,jdbcType=TIMESTAMP},
        effective_end = #{record.effectiveEnd,jdbcType=TIMESTAMP},
        expiration_date = #{record.expirationDate,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        customer_status = #{record.customerStatus,jdbcType=VARCHAR},
        driver_license = #{record.driverLicense,jdbcType=VARCHAR},
        extends1 = #{record.extends1,jdbcType=VARCHAR},
        extends2 = #{record.extends2,jdbcType=VARCHAR},
        extends3 = #{record.extends3,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.kentrasoft.cms.entity.Customer">
        update customer
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="national != null">
                `national` = #{national,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="documentType != null">
                document_type = #{documentType,jdbcType=VARCHAR},
            </if>
            <if test="documentNum != null">
                document_num = #{documentNum,jdbcType=VARCHAR},
            </if>
            <if test="linkTelphone1 != null">
                link_telphone1 = #{linkTelphone1,jdbcType=VARCHAR},
            </if>
            <if test="linkTelphone2 != null">
                link_telphone2 = #{linkTelphone2,jdbcType=VARCHAR},
            </if>
            <if test="linkAddress != null">
                link_address = #{linkAddress,jdbcType=VARCHAR},
            </if>
            <if test="driveNum != null">
                drive_num = #{driveNum,jdbcType=VARCHAR},
            </if>
            <if test="driveType != null">
                drive_type = #{driveType,jdbcType=VARCHAR},
            </if>
            <if test="evidenceStart != null">
                evidence_start = #{evidenceStart,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveStart != null">
                effective_start = #{effectiveStart,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveEnd != null">
                effective_end = #{effectiveEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="expirationDate != null">
                expiration_date = #{expirationDate,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="customerStatus != null">
                customer_status = #{customerStatus,jdbcType=VARCHAR},
            </if>
            <if test="driverLicense != null">
                driver_license = #{driverLicense,jdbcType=VARCHAR},
            </if>
            <if test="extends1 != null">
                extends1 = #{extends1,jdbcType=VARCHAR},
            </if>
            <if test="extends2 != null">
                extends2 = #{extends2,jdbcType=VARCHAR},
            </if>
            <if test="extends3 != null">
                extends3 = #{extends3,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kentrasoft.cms.entity.Customer">
    update customer
    set `name` = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      `national` = #{national,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      photo = #{photo,jdbcType=VARCHAR},
      document_type = #{documentType,jdbcType=VARCHAR},
      document_num = #{documentNum,jdbcType=VARCHAR},
      link_telphone1 = #{linkTelphone1,jdbcType=VARCHAR},
      link_telphone2 = #{linkTelphone2,jdbcType=VARCHAR},
      link_address = #{linkAddress,jdbcType=VARCHAR},
      drive_num = #{driveNum,jdbcType=VARCHAR},
      drive_type = #{driveType,jdbcType=VARCHAR},
      evidence_start = #{evidenceStart,jdbcType=TIMESTAMP},
      effective_start = #{effectiveStart,jdbcType=TIMESTAMP},
      effective_end = #{effectiveEnd,jdbcType=TIMESTAMP},
      expiration_date = #{expirationDate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      customer_status = #{customerStatus,jdbcType=VARCHAR},
      driver_license = #{driverLicense,jdbcType=VARCHAR},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <delete id="delete" parameterType="String">
    delete from customer WHERE FIND_IN_SET(id,#{ids})
  </delete>

    <update id="updateCustomerStatus" parameterType="map">
    update customer set customer_status = #{customerStatus,jdbcType=VARCHAR} 
    	WHERE FIND_IN_SET(id,#{ids})
    </update>

    <select id="pointQueryResults" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT a.driving_record FROM card_port_data a
        WHERE  a.license_num = #{license,jdbcType=VARCHAR}
        AND    a.`status` = '01'
    </select>
    <!--添加时判断是否存在信息-->
    <select id="selectByDrivNum" parameterType="string" resultMap="BaseResultMap">
    select * from customer where drive_num=#{driveNum}
    </select>
    <!--添加时判断是否存在信息-->
    <select id="selectByDocuNum" parameterType="string" resultMap="BaseResultMap">
    select * from customer where document_num =#{documentNum}
    </select>
    <select id="selectByPhoneNum" parameterType="string" resultMap="BaseResultMap">
    select * from customer where link_telphone1 =#{phone}
    </select>
    <!--编辑时判断是否存在信息-->
    <select id="selectByDocuNumEdit" parameterType="map" resultMap="BaseResultMap">
    select * from customer where id !=#{id} and document_num =#{docNum}
    </select>
    <!--编辑时判断是否存在信息-->
    <select id="selectByDrivNumEdit" parameterType="map" resultMap="BaseResultMap">
    select * from customer where id !=#{id} and drive_num =#{driNum}
    </select>
    <!--导出-->
    <select id="export" parameterType="map" resultMap="BaseResultMap">
        select * from customer where 1=1 and customer_status=#{code}
        <if test="flag == 1">
            <if test="name != null and name != '' ">
                and `name` LIKE concat( concat ("%",#{name}),"%")
            </if>
            <if test="phoneNum != null and phoneNum != '' ">
                and link_telphone1 LIKE concat( concat ("%",#{phoneNum}),"%")
            </if>
            <if test="driveNum != null and driveNum != '' ">
                and drive_num LIKE concat( concat ("%",#{driveNum}),"%")
            </if>
        </if>
    </select>
    <!--用户登录-->
    <select id="selectByPhonePwd" parameterType="map" resultMap="BaseResultMap">
        select * from customer where link_telphone1=#{phone} and password=#{password}
    </select>
    <!--修改密码-->
    <update id="updatePwd" parameterType="map">
        update customer set password =#{newPwd}
        where id=#{id} and link_telphone1=#{phone} and password=#{oldPwd}
    </update>
    <!--修改密码时验证密码是否正确-->
    <select id="selectByIdPhone" parameterType="map" resultMap="BaseResultMap">
        select id,`name`,password from customer where id=#{id} and link_telphone1=#{phone}
    </select>

    <!--  -->
    <select id="selectByLinkPhone" parameterType="map" resultMap="BaseResultMap">
       select * from customer where id !=#{id} and link_telphone1 =#{telPhone}
    </select>

    <!--liyang-->
    <!--获取用户注册统计数据-->
    <select id="getRegisterCustomerCount" parameterType="map" resultMap="BaseResultMap">
        select count(cs.id) as totalNum
        FROM sys_month sm
        LEFT JOIN customer cs
        ON sm.monthNum = MONTH(cs.create_time)
        <if test="year != null and year !='' ">
            and DATE_FORMAT(create_time,'%Y') = #{year}
        </if>
        <if test="year == null or year =='' ">
            and DATE_FORMAT(create_time,'%Y') = #{year}
        </if>
        GROUP BY sm.monthNum ASC
    </select>

    <!--查询准驾类型  -->
    <select id="selectDrivingTypeCode" parameterType="java.lang.String" resultType="java.lang.String">
       SELECT D.DICT_CODE FROM DICT D WHERE D.DICT_NAME=#{driveType,jdbcType=VARCHAR};
    </select>

</mapper>