<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kentrasoft.cms.dao.DeviceMapper">
     
     <!-- 查询数据 -->
     <select id="queryDevice" parameterType="String" resultType="java.lang.Integer">
         select count(*) from device_management 
         where device_code=#{deviceCode,jdbcType=VARCHAR}  
         and device_gis_x=#{deviceGisX,jdbcType=VARCHAR} 
         and device_gis_y=#{deviceGisY,jdbcType=VARCHAR}
     </select>
     
     <!--更新时间  -->
     <update id="updateDevice" parameterType="String">
        update device_management set extends1=SYSDATE()
        where device_code=#{deviceCode,jdbcType=VARCHAR}  
        and device_gis_x=#{deviceGisX,jdbcType=VARCHAR} 
        and device_gis_y=#{deviceGisY,jdbcType=VARCHAR}
     </update>
</mapper>