<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kentrasoft.cms.dao.DictDao">

    <resultMap id="resultMap" type="com.kentrasoft.cms.model.Dict">
        <result property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictCode" column="dict_code"/>
        <result property="dictOrder" column="dict_order"/>
        <result property="dictPid" column="dict_pid"/>
        <result property="dictDesc" column="dict_desc"/>
        <result property="dictStatus" column="dict_status"/>
        <result property="hasChild" column="has_child"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updator" column="updator"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="baseCol">
        `id`,`dict_name`,`dict_code`,`dict_order`,`dict_pid`,`dict_desc`,`dict_status`,`has_child`,`creator`,`create_time`,`updator`,`update_time`
    </sql>

    <sql id="pageSql">
        <if test="__start !=null and __size!=null"><![CDATA[ limit #{__start},#{__size} ]]></if>
    </sql>

    <sql id="whereSql">
        <trim prefix="WHERE" prefixOverrides="and |or ">
            <if test="id != null"><![CDATA[ and  `id` = #{id:NUMERIC}]]></if>
            <if test="id_r_min != null"><![CDATA[ and `id` >= #{id_r_min} and `id` <= #{id_r_max} ]]></if>
            <if test="id_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="id_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="dictName != null"><![CDATA[ and  `dict_name` = #{dictName:VARCHAR}]]></if>
            <if test="dictName_r_min != null"><![CDATA[ and `dict_name` >= #{dictName_r_min} and `dict_name` <= #{dictName_r_max} ]]></if>
            <if test="dictName_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="dictName_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="dictCode != null"><![CDATA[ and  `dict_code` = #{dictCode:VARCHAR}]]></if>
            <if test="dictCode_r_min != null"><![CDATA[ and `dict_code` >= #{dictCode_r_min} and `dict_code` <= #{dictCode_r_max} ]]></if>
            <if test="dictCode_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="dictCode_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="dictOrder != null"><![CDATA[ and  `dict_order` = #{dictOrder:NUMERIC}]]></if>
            <if test="dictOrder_r_min != null"><![CDATA[ and `dict_order` >= #{dictOrder_r_min} and `dict_order` <= #{dictOrder_r_max} ]]></if>
            <if test="dictOrder_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="dictOrder_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="dictPid != null"><![CDATA[ and  `dict_pid` = #{dictPid:NUMERIC}]]></if>
            <if test="dictPid_r_min != null"><![CDATA[ and `dict_pid` >= #{dictPid_r_min} and `dict_pid` <= #{dictPid_r_max} ]]></if>
            <if test="dictPid_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="dictPid_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="dictDesc != null"><![CDATA[ and  `dict_desc` = #{dictDesc:VARCHAR}]]></if>
            <if test="dictDesc_r_min != null"><![CDATA[ and `dict_desc` >= #{dictDesc_r_min} and `dict_desc` <= #{dictDesc_r_max} ]]></if>
            <if test="dictDesc_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="dictDesc_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="dictStatus != null"><![CDATA[ and  `dict_status` = #{dictStatus:NUMERIC}]]></if>
            <if test="dictStatus_r_min != null"><![CDATA[ and `dict_status` >= #{dictStatus_r_min} and `dict_status` <= #{dictStatus_r_max} ]]></if>
            <if test="dictStatus_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="dictStatus_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="hasChild != null"><![CDATA[ and  `has_child` = #{hasChild:NUMERIC}]]></if>
            <if test="hasChild_r_min != null"><![CDATA[ and `has_child` >= #{hasChild_r_min} and `has_child` <= #{hasChild_r_max} ]]></if>
            <if test="hasChild_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="hasChild_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="creator != null"><![CDATA[ and  `creator` = #{creator:NUMERIC}]]></if>
            <if test="creator_r_min != null"><![CDATA[ and `creator` >= #{creator_r_min} and `creator` <= #{creator_r_max} ]]></if>
            <if test="creator_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="creator_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="createTime != null"><![CDATA[ and  `create_time` = #{createTime:DATETIME}]]></if>
            <if test="createTime_r_min != null"><![CDATA[ and `create_time` >= #{createTime_r_min} and `create_time` <= #{createTime_r_max} ]]></if>
            <if test="createTime_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="createTime_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="updator != null"><![CDATA[ and  `updator` = #{updator:NUMERIC}]]></if>
            <if test="updator_r_min != null"><![CDATA[ and `updator` >= #{updator_r_min} and `updator` <= #{updator_r_max} ]]></if>
            <if test="updator_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="updator_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="updateTime != null"><![CDATA[ and  `update_time` = #{updateTime:DATETIME}]]></if>
            <if test="updateTime_r_min != null"><![CDATA[ and `update_time` >= #{updateTime_r_min} and `update_time` <= #{updateTime_r_max} ]]></if>
            <if test="updateTime_enum != null"><![CDATA[ and $!{column.value.xmlFieldName} in ]]>
                <foreach collection="updateTime_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="orderSql">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <if test="_orderBy == 'id_desc'"><![CDATA[ `id` desc, ]]></if>
            <if test="_orderBy == 'id_asc'"><![CDATA[ `id`, ]]></if>
            <if test="_orderBy == 'dictName_desc'"><![CDATA[ `dict_name` desc, ]]></if>
            <if test="_orderBy == 'dictName_asc'"><![CDATA[ `dict_name`, ]]></if>
            <if test="_orderBy == 'dictCode_desc'"><![CDATA[ `dict_code` desc, ]]></if>
            <if test="_orderBy == 'dictCode_asc'"><![CDATA[ `dict_code`, ]]></if>
            <if test="_orderBy == 'dictOrder_desc'"><![CDATA[ `dict_order` desc, ]]></if>
            <if test="_orderBy == 'dictOrder_asc'"><![CDATA[ `dict_order`, ]]></if>
            <if test="_orderBy == 'dictPid_desc'"><![CDATA[ `dict_pid` desc, ]]></if>
            <if test="_orderBy == 'dictPid_asc'"><![CDATA[ `dict_pid`, ]]></if>
            <if test="_orderBy == 'dictDesc_desc'"><![CDATA[ `dict_desc` desc, ]]></if>
            <if test="_orderBy == 'dictDesc_asc'"><![CDATA[ `dict_desc`, ]]></if>
            <if test="_orderBy == 'dictStatus_desc'"><![CDATA[ `dict_status` desc, ]]></if>
            <if test="_orderBy == 'dictStatus_asc'"><![CDATA[ `dict_status`, ]]></if>
            <if test="_orderBy == 'hasChild_desc'"><![CDATA[ `has_child` desc, ]]></if>
            <if test="_orderBy == 'hasChild_asc'"><![CDATA[ `has_child`, ]]></if>
            <if test="_orderBy == 'creator_desc'"><![CDATA[ `creator` desc, ]]></if>
            <if test="_orderBy == 'creator_asc'"><![CDATA[ `creator`, ]]></if>
            <if test="_orderBy == 'createTime_desc'"><![CDATA[ `create_time` desc, ]]></if>
            <if test="_orderBy == 'createTime_asc'"><![CDATA[ `create_time`, ]]></if>
            <if test="_orderBy == 'updator_desc'"><![CDATA[ `updator` desc, ]]></if>
            <if test="_orderBy == 'updator_asc'"><![CDATA[ `updator`, ]]></if>
            <if test="_orderBy == 'updateTime_desc'"><![CDATA[ `update_time` desc, ]]></if>
            <if test="_orderBy == 'updateTime_asc'"><![CDATA[ `update_time`, ]]></if>
            <if test="_orderBy_enum != null">
                <foreach collection="_orderBy_enum" item="orderItem" open="" separator="," close="">
                    <if test="orderItem == 'id_desc'"><![CDATA[ `id` desc ]]></if>
                    <if test="orderItem == 'id_asc'"><![CDATA[ `id` ]]></if>
                    <if test="orderItem == 'dictName_desc'"><![CDATA[ `dict_name` desc ]]></if>
                    <if test="orderItem == 'dictName_asc'"><![CDATA[ `dict_name` ]]></if>
                    <if test="orderItem == 'dictCode_desc'"><![CDATA[ `dict_code` desc ]]></if>
                    <if test="orderItem == 'dictCode_asc'"><![CDATA[ `dict_code` ]]></if>
                    <if test="orderItem == 'dictOrder_desc'"><![CDATA[ `dict_order` desc ]]></if>
                    <if test="orderItem == 'dictOrder_asc'"><![CDATA[ `dict_order` ]]></if>
                    <if test="orderItem == 'dictPid_desc'"><![CDATA[ `dict_pid` desc ]]></if>
                    <if test="orderItem == 'dictPid_asc'"><![CDATA[ `dict_pid` ]]></if>
                    <if test="orderItem == 'dictDesc_desc'"><![CDATA[ `dict_desc` desc ]]></if>
                    <if test="orderItem == 'dictDesc_asc'"><![CDATA[ `dict_desc` ]]></if>
                    <if test="orderItem == 'dictStatus_desc'"><![CDATA[ `dict_status` desc ]]></if>
                    <if test="orderItem == 'dictStatus_asc'"><![CDATA[ `dict_status` ]]></if>
                    <if test="orderItem == 'hasChild_desc'"><![CDATA[ `has_child` desc ]]></if>
                    <if test="orderItem == 'hasChild_asc'"><![CDATA[ `has_child` ]]></if>
                    <if test="orderItem == 'creator_desc'"><![CDATA[ `creator` desc ]]></if>
                    <if test="orderItem == 'creator_asc'"><![CDATA[ `creator` ]]></if>
                    <if test="orderItem == 'createTime_desc'"><![CDATA[ `create_time` desc ]]></if>
                    <if test="orderItem == 'createTime_asc'"><![CDATA[ `create_time` ]]></if>
                    <if test="orderItem == 'updator_desc'"><![CDATA[ `updator` desc ]]></if>
                    <if test="orderItem == 'updator_asc'"><![CDATA[ `updator` ]]></if>
                    <if test="orderItem == 'updateTime_desc'"><![CDATA[ `update_time` desc ]]></if>
                    <if test="orderItem == 'updateTime_asc'"><![CDATA[ `update_time` ]]></if>
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="updateSql">
        <trim prefix="set" prefixOverrides=",">
            <if test="dictName != null"><![CDATA[ ,`dict_name` =  #{dictName}]]></if>
            <if test="dictCode != null"><![CDATA[ ,`dict_code` =  #{dictCode}]]></if>
            <if test="dictOrder != null"><![CDATA[ ,`dict_order` =  #{dictOrder}]]></if>
            <if test="dictPid != null"><![CDATA[ ,`dict_pid` =  #{dictPid}]]></if>
            <if test="dictDesc != null"><![CDATA[ ,`dict_desc` =  #{dictDesc}]]></if>
            <if test="dictStatus != null"><![CDATA[ ,`dict_status` =  #{dictStatus}]]></if>
            <if test="hasChild != null"><![CDATA[ ,`has_child` =  #{hasChild}]]></if>
            <if test="creator != null"><![CDATA[ ,`creator` =  #{creator}]]></if>
            <if test="createTime != null"><![CDATA[ ,`create_time` =  #{createTime}]]></if>
            <if test="updator != null"><![CDATA[ ,`updator` =  #{updator}]]></if>
            <if test="updateTime != null"><![CDATA[ ,`update_time` =  #{updateTime}]]></if>
        </trim>
    </sql>

    <!--新增一个对象-->
    <insert id="insertObject" parameterType="com.kentrasoft.cms.model.Dict">
        <selectKey resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into dict(
            `id`,`dict_name`,`dict_code`,`dict_order`,`dict_pid`,`dict_desc`,`dict_status`,`has_child`,`creator`,`create_time`,`updator`,`update_time`
        ) values (
            #{id},#{dictName},#{dictCode},#{dictOrder},#{dictPid},#{dictDesc},#{dictStatus},#{hasChild},#{creator},#{createTime},#{updator},#{updateTime}
        )
    </insert>

    <!--新增多个对象-->
    <insert id="insertList" parameterType="java.util.List">
        insert into dict (
            `dict_name`,`dict_code`,`dict_order`,`dict_pid`,`dict_desc`,`dict_status`,`has_child`,`creator`,`create_time`,`updator`,`update_time`
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dictName},#{item.dictCode},#{item.dictOrder},#{item.dictPid},#{item.dictDesc},#{item.dictStatus},#{item.hasChild},#{item.creator},#{item.createTime},#{item.updator},#{item.updateTime})
        </foreach>
    </insert>

    <!--根据对象主键更新对象所有字段-->
    <update id="updateAll" parameterType="com.kentrasoft.cms.model.Dict">
        update dict set
                `dict_name` = #{dictName},
                `dict_code` = #{dictCode},
                `dict_order` = #{dictOrder},
                `dict_pid` = #{dictPid},
                `dict_desc` = #{dictDesc},
                `dict_status` = #{dictStatus},
                `has_child` = #{hasChild},
                `creator` = #{creator},
                `create_time` = #{createTime},
                `updator` = #{updator},
                `update_time` = #{updateTime}
        where `id`=#{id}
    </update>

    <!--根据对象主键更新对象不为空字段-->
    <update id="updateByObject" parameterType="com.kentrasoft.cms.model.Dict">
        update dict
        <include refid="updateSql"/>
        where `id`=#{id}
    </update>

    <!--根据对象主键更新对象指定字段-->
    <update id="updateByParams" parameterType="java.util.Map">
        update dict
        <include refid="updateSql"/>
        where `id`=#{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM dict WHERE id = #{id}
    </delete>

    <delete id="deleteByParams" parameterType="java.util.Map">
        DELETE FROM dict
        <include refid="whereSql" />
    </delete>

    <!--根据ids删除：【a.b.c】-->
    <delete id="deleteByIdsStr" parameterType="String">
        delete from dict WHERE FIND_IN_SET(`id`,#{IdsStr})
    </delete>

    <!--根据id列表删除：【list<id>】-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from dict WHERE `id` in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
        </foreach>
    </delete>


    <!--根据id查询-->
    <select id="findById" parameterType="Long" resultMap="resultMap">
        select
            <include refid="baseCol"/>
        from
            dict
        where `id`=#{id}
    </select>

    <!--根据ids查询列表：【a.b.c】-->
    <select id="findByIdsStr" parameterType="String" resultMap="resultMap">
        select
            <include refid="baseCol"/>
        from dict WHERE FIND_IN_SET(`id`,#{idsStr})
    </select>

    <!--根据id列表获取一组对象:【list<id>】-->
    <select id="findByIds" parameterType="java.util.List" resultMap="resultMap">
        select
            <include refid="baseCol"/>
        from dict WHERE `id` in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--根据条件查询数量-->
    <select id="queryCountByParams" parameterType="java.util.Map" resultType="int">
        select count(*) from dict
        <include refid="whereSql" />
    </select>

    <!--根据条件查询-->
    <select id="queryByParams" parameterType="java.util.Map" resultMap="resultMap">
        select
            <include refid="baseCol" />
        from dict
            <include refid="whereSql" />
            <include refid="orderSql" />
            <include refid="pageSql" />
    </select>


    <!--查询所有-->
    <select id="findAll" resultMap="resultMap">
        select
            <include refid="baseCol" />
        from dict
    </select>

    <!--**********************************自定义***********************************-->

</mapper>