<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增控制器设备信息</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<!--控制器列表展示-->
<div class="layui-form news_list">
    <div style="height: 20px"></div>
    <form class="layui-form" id="controlFrom" lay-filter="controlFromFilter">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备名称<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入控制器设备名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备编号<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="controllerCode" lay-verify="controllerCode" autocomplete="off" placeholder="请输入控制器设备编号"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备经度<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="controllerGisX" lay-verify="controllerGisX" autocomplete="off" placeholder="请输入控制器所处经度"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备纬度<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="controllerGisY" lay-verify="controllerGisY" autocomplete="off" placeholder="请输入控制器所处纬度"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">网络地址<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="extends1" lay-verify="extends1" autocomplete="off" placeholder="请输入控制器网络地址"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">网络端口<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="extends2" lay-verify="extends2" autocomplete="off" placeholder="请输入控制器网络端口"
                           class="layui-input">
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">网络状态<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <select name="controllerStatus" id="controllerStatus" lay-verify="required" lay-filter="controllerStatusFilter">
                    </select>
                </div>
            </div>
            
            <div class="layui-inline">
                <label class="layui-form-label">天线状态<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <select name="extends3" id="extends3" lay-verify="required" lay-filter="extends3Filter">
                    </select>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备地址<font color="red">&nbsp;*</font></label>
                <div class="layui-input-block">
                    <input type="text" name="controllerAddress" lay-verify="controllerAddress" autocomplete="off" placeholder="请输入控制器设备地址"
                           class="layui-input" style="width: 513px;">
                </div>
            </div>
         </div>

        <div class="layui-form-item">
            <label class="layui-form-label">设备描述<font color="red">&nbsp;&nbsp;&nbsp;</font></label>
            <div class="layui-input-block">
                <textarea type="text" name="descripInfos" autocomplete="off" placeholder="控制器描述信息"
                          class="layui-textarea" style="width: 513px;min-height: 80px"></textarea>
            </div>
        </div>

        <!-- 提交表单按钮 -->
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" id="controlSubmitBtn" lay-filter="controlSubmitBtnFilter">立即提交</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/control/add.js"></script>
</body>
</html>