<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制器设备详情</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<form class="layui-form" id="controlForm" lay-filter="controlFormFilter">
    <div style="height: 20px"></div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <input type="text" name="controllerCode" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设备经度</label>
            <div class="layui-input-inline">
                <input type="text" name="controllerGisX" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备纬度</label>
            <div class="layui-input-inline">
                <input type="text" name="controllerGisY" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">网络地址</label>
			<div class="layui-input-inline">
				 <input type="text" name="extends1" readonly="readonly" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">网络端口</label>
			<div class="layui-input-inline">
				<input type="text" name="extends2" readonly="readonly" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	
	<div class="layui-form-item">
         <div class="layui-inline">
              <label class="layui-form-label">网络状态</label>
              <div class="layui-input-inline">
                    <input type="text" name="controllerStatus" readonly="readonly" autocomplete="off" class="layui-input">
              </div>
         </div>
         <div class="layui-inline">
              <label class="layui-form-label">天线状态</label>
              <div class="layui-input-inline">
                    <input type="text" name="extends3" readonly="readonly" autocomplete="off" class="layui-input">
              </div>
         </div>
     </div>
     
     <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备地址</label>
                <div class="layui-input-block">
                    <input type="text" name="controllerAddress" lay-verify="controllerAddress" autocomplete="off" placeholder="请输入控制器设备地址"
                           class="layui-input" style="width: 513px;">
                </div>
            </div>
     </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设备描述</label>
        <div class="layui-input-block">
            <textarea type="text" name="descripInfos" autocomplete="off" readonly="readonly"
                      class="layui-textarea" style="width: 513px;min-height: 80px"></textarea>
        </div>
    </div>
</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/control/detail.js"></script>

</body>
</html>

