<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>白名单管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" media="all">
	<!--打印样式  -->
	<style type="text/css">#whitePrint{display:none}</style>
	<style type="text/css" media="print">#whitePrint{display:block}</style>
</head>

<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">

<div>
	<!--条件搜索用户-->
	<div style="padding-top: 7px;padding-right: 10px">
		<div class="layui-input-inline">
			<span style="font-size: 16px;">姓名:</span>
			<input type="text" id="nameParam" name="nameParam" placeholder="请输入用户名" style="border-radius:6px;height: 16px;">
		</div>
		<div class="layui-input-inline">
			<span style="font-size: 16px;padding-left: 10px">手机号:</span>
			<input type="text" id="phoneParam" name="phoneParam" placeholder="请输入用户手机号" style="border-radius:6px;height: 16px;">
		</div>
		<div class="layui-input-inline">
			<span style="font-size: 16px;padding-left: 10px">驾驶证号:</span>
			<input type="text" id="drivNumParam" name="drivNumParam" placeholder="请输入用户驾驶证号" style="border-radius:6px;height: 16px;">
		</div>
	   <button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
	        <i class="icon-search bigger-130"></i>
	        <span class="bigger-130 no-text-shadow">搜索</span>
	    </button>
	</div>
	
	<!--操作用户按钮-->
	<div class='btn-operation' style="margin:7px 0 2px 0">
		<!--导出-->
		<button class="btn btn-xs btn-primary" id="exportBtn">
			<i class="icon-download-alt bigger-130"></i>
			<span class="bigger-130 no-text-shadow">导出</span>
		</button>
		<!--打印-->
		<button class="btn btn-xs btn-primary" id="printBtn">
			<i class="icon-print bigger-130"></i>
			<span class="bigger-130 no-text-shadow">打印</span>
		</button>
	    <!--取消白名单-->
	    <button class="btn btn-xs btn-warning" id="deleteBtn">
	        <i class="icon-trash bigger-130"></i>
	        <span class="bigger-130 no-text-shadow">取消白名单</span>
	    </button>
    </div>
</div>

<!--用户列表展示-->
<div class="layui-form news_list" style="padding: 0 50px 0 0">
    <table id="whitelistTable" lay-filter="whitelistTableFilter"></table>
   <!--  <script type="text/html" id="whitelistTableBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script> -->
</div>
<!--打印数据  -->
<div id="whitePrint">
	<h3><center>贵阳高速公路收费管理平台-白名单列表</center></h3>
	<table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="5" align="center"><h3>客户信息详情</h3></td>
		</tr>
		<tr>
			<td width="15%" height="42px" align="center" style="font-weight:bold">客户名称</td>
			<td colspan="2" align="center">
				<span id="nameSpan" class="cleanDate" ></span>
			</td>
			<td width="15%" height="42px" align="center" style="font-weight:bold">性别</td>
			<td colspan="2" align="center">
				<span id="sex" class="cleanDate"></span>
			</td>
		</tr>
		<tr>
			<td width="15%" height="42px" align="center" style="font-weight:bold">国籍</td>
			<td colspan="2" align="center">
				<span id="national" class="cleanDate"></span>
			</td>
			<td width="15%" height="42px" align="center" style="font-weight:bold">电话</td>
			<td colspan="2" align="center">
				<span id="linkTelphone1" class="cleanDate"></span>
			</td>
		</tr>
		<tr>
			<td width="15%" height="42px" align="center" style="font-weight:bold">证件类型</td>
			<td colspan="2" align="center">
				<span id="documentType" class="cleanDate"></span>
			</td>
			<td width="15%" height="42px" align="center" style="font-weight:bold">证件号码</td>
			<td colspan="2" align="center">
				<span id="documentNum" class="cleanDate"></span>
			</td>
		</tr>
		<tr>
			<td width="15%" height="42px" align="center" style="font-weight:bold">准驾车型</td>
			<td colspan="2" align="center">
				<span id="driveType" class="cleanDate"></span>
			</td>
			<td width="15%" height="42px" align="center" style="font-weight:bold">驾驶证号</td>
			<td colspan="5" align="center">
				<span id="driveNum" class="cleanDate"></span>
			</td>
		</tr>
	</table>
	<table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0" >
		<thead>
		<tr height="36px">
			<td colspan="7" align="center"><b>行驶证信息</b></td>
		</tr>
		<tr height="36px">
			<th width="70" align="center">车牌号码</th>
			<th width="70" align="center">车辆类型</th>
			<th width="70" align="center">车主</th>
			<th width="70" align="center">使用性质</th>
			<th width="70" align="center">车辆识别代号</th>
			<th width="70" align="center">发动机编号</th>
		</tr>
		</thead>
		<tbody id="whitePrintTbody">
		</tbody>
	</table>
</div>
<!-- 分页栏 -->
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/whitelist/list.js"></script>
<script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--日期格式处理-->
<script id="dateTpl" type="text/html">
    {{#   if(d.birthday == null||d.birthday == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.birthday,'yyyy-MM-dd');    }}
    {{#   } }}
</script>

</body>
</html>