<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行驶记录</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <!-- 新增样式css -->
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    
    <script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
    <!--打印样式  -->
    <style type="text/css">#drivingTrackPrint{display:none}</style>
    <style type="text/css" media="print">#drivingTrackPrint{display:block}</style>
    <link rel="stylesheet" href="../css/font-awesome.min.css" media="all">    
</head>
<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">
<div>
    
    <!--搜索-->
    <div style="padding-top: 7px;padding-right: 10px">
         <div class="layui-input-inline" style="margin-right: 40px">
              <span style="font-size: 16px;">车牌号码:</span>
              <input type="text" id="searchParamlicenseNum" placeholder="请输入车牌号" style="border-radius:6px;height: 16px;">
         </div>
         <div class="layui-input-inline" style="margin-right: 40px">
              <span style="font-size: 16px;">进站名称:</span>
              <input type="text" id="searchParamEntranceName" placeholder="请输入进站名称" style="border-radius:6px;height: 16px;">
         </div>
         <div class="layui-input-inline" style="margin-right: 40px">
              <span style="font-size: 16px;">出站名称:</span>
              <input type="text" id="searchParamExitName" placeholder="请输入出站名称" style="border-radius:6px;height: 16px;">
         </div>
         <button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
              <i class="icon-search bigger-130"></i>
              <span class="bigger-130 no-text-shadow">搜索</span>
         </button>
    </div>
    <!--上部按钮-->
    <div class='btn-operation' style="margin:7px 0 2px 0">

        <!--详情-->
        <button class="btn btn-xs btn-primary" id="detailBtn">
            <i class="icon-zoom-in bigger-130"></i>
            <span class="bigger-130 no-text-shadow">详情</span>
        </button>
        
        <!--删除-->
        <button class="btn btn-xs btn-danger" id="deleteBtn">
            <i class="icon-trash bigger-130"></i>
            <span class="bigger-130 no-text-shadow">删除</span>
        </button>
        
        <!--打印-->
        <button class="btn btn-xs btn-primary" id="print">
        	<i class="icon-print bigger-130"></i>
            <span class="bigger-130 no-text-shadow">打印</span>
        </button>
        
        <!--违规-->
    	<button class="btn btn-xs btn-warning btn-add" id="addBtn">
        	<i class="icon-check bigger-130"></i>
            <span class="bigger-130 no-text-shadow">违规</span>
        </button>
        
	</div>    
    
</div>

<!--行驶记录列表展示-->
<div class="layui-form news_list" style="padding: 0 50px 0 0">
    <table id="drivingRecordTable" lay-filter="drivingRecordTableFilter"></table>
</div>

 <!--打印数据  -->
		    <div id="drivingTrackPrint">
<!-- 		    	<fieldset style="margin-bottom: 50px;margin-top: 50px">
  					<legend style="text-align: center; font:  '黑体';font-size: 24px;">车辆行驶信息</legend>
        			<div class="layui-timeline" id="drivingtrackFormFilter"></div>
		    	</fieldset> -->
		    	<h3><center>贵阳高速公路收费管理平台-行驶记录信息表</center></h3>
		    	<table  align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
                <thead>
         	     <tr height="36px"><td colspan="5" align="center"><b>行驶记录信息</b></td></tr>
        	     <tr height="36px">
	                <th rowspan="2" align="center">车牌号码</th>
				    <th rowspan="2" align="center">进站名称</th>
				    <th rowspan="2" align="center">进站时间</th>
				    <th rowspan="2" align="center">出站名称</th>
				    <th rowspan="2" align="center">出站时间</th>
	             </tr>
                </thead>
                <tbody id="drivingtrackFormFilter"></tbody>
                </table>
		    
		        <table  align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
                <thead>
         	     <tr height="36px"><td colspan="6" align="center"><b>行驶轨迹信息</b></td></tr>
        	     <tr height="36px">
        	        <th rowspan="2" align="center">序号</th>
	                <th rowspan="2" align="center">车牌号码</th>
				    <th rowspan="2" align="center">通过地点</th>
				    <th rowspan="2" align="center">通过时间</th>
				    <th rowspan="2" align="center">经度</th>
				    <th rowspan="2" align="center">纬度</th>
	             </tr>
                </thead>
                <tbody id="drivingTrackPrintTbody"></tbody>
                </table>
		    </div>

<!-- 分页栏 -->
<div id="drivingRecordListPage"></div>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/drivingrecord/drivingRecordList.js"></script>
<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--日期格式处理-->
<script id="entranceTimeTpl" type="text/html">
    {{#   if(d.entranceTime == null||d.entranceTime == ''){    }}
                                           暂无数据
    {{#   } else {    }}
    {{#   return Format(d.entranceTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>
<script id="throughTimeTpl" type="text/html">
    {{#   if(d.throughTime == null||d.throughTime == ''){    }}
                                           暂无数据
    {{#   } else {    }}
    {{#   return Format(d.throughTime,'yyyy-MM-dd');    }}
    {{#   } }}
</script>
<script id="exitTimeTpl" type="text/html">
    {{#   if(d.exitTime == null||d.exitTime == ''){    }}
                                          暂无数据
    {{#   } else {    }}
    {{#   return Format(d.exitTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>
<script id="createTimeTpl" type="text/html">
    {{#   if(d.createTime == null||d.createTime == ''){    }}
                                          暂无数据
    {{#   } else {    }}
    {{#   return Format(d.createTime,'yyyy-MM-dd');    }}
    {{#   } }}
</script>

</body>
</html>