<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>违规</title>
<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
	<div class="layui-form news_list" style="margin-top: 30px">
		
	<form class="layui-form" id="IrregularitiesForm" lay-filter="IrregularitiesFormFilter">
		<!--隐藏提交信息-->
    	<div class="layui-form-item layui-hide">
        	<input type="text" name="id" autocomplete="off" class="layui-input">
			<input type="text" name="drivingRecord" autocomplete="off" class="layui-input">
			<input type="text" name="expensesPaid" autocomplete="off" class="layui-input">
    	</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">车牌号码<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
						<input type="text" name="licenseNum" lay-verify="licenseNum"
							autocomplete="off" readonly="readonly" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">记录编号<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
						<input type="text" name="drivingRecord" lay-verify="required"
							autocomplete="off" readonly="readonly" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">进站名称<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
						<input type="text" name="entranceName" lay-verify="entranceName"
							autocomplete="off" readonly="readonly" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">进站时间<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
						<input type="text" name="entranceTime" lay-verify="entranceTime"
							autocomplete="off" readonly="readonly" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">出站名称<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
						<input type="text" name="exitName" lay-verify="exitName"
							autocomplete="off" readonly="readonly" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
            		<label class="layui-form-label">出站时间<font color="red">&nbsp;*</font></label>
            		<div class="layui-input-inline">
                		<input type="text" name="exitTime" lay-verify="exitTime" 
                			readonly="readonly" class="layui-input">
           	 		</div>
        		</div>
        	</div>			
 			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">应缴费(元)<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
						<input type="text" id="receivablesParam" name="receivables" lay-verify="receivables"
							autocomplete="off" placeholder="请输入应缴费用" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
            		<label class="layui-form-label">已缴费(元)<font color="red">&nbsp;*</font></label>
            		<div class="layui-input-inline">
                		<input type="text" id="payCountParam" name="payCount" lay-verify="payCount" placeholder="请输入已缴费用"
                       class="layui-input">
           	 		</div>
        		</div>
        	</div>
        	<div class="layui-form-item">
        		<div class="layui-inline">
        			<label class="layui-form-label">违规类型<font color="red">&nbsp;*</font></label>
					<div class="layui-input-inline">
					<select name="extends1" lay-verify="required"  id="extends1" lay-filter="extends1Select"></select>
					</div>
				</div>
			</div>	
			<div class="layui-form-item">
            		<label class="layui-form-label">违规备注<font color="">&nbsp;&nbsp;</font></label>
            		<div class="layui-input-block">
            			<textarea name="extends2" style="width: 85%;min-height: 90px" 
                      placeholder="请输入违规备注信息" autocomplete="off"
                      class="layui-textarea"></textarea>
        			</div>
        	</div>
			<!-- 提交表单 -->
			<div class="layui-form-item layui-hide">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" id="IrregularitiesSubmit"
						lay-filter="IrregularitiesSubmitBtn">立即提交</button>
				</div>
			</div>
		</form>

	</div>

	<script type="text/javascript" src="../layui/layui.js"></script>
	<script type="text/javascript" src="../js/drivingrecord/Irregularities.js"></script>
	
	<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--生日格式处理-->
<script id="payTimeTpl" type="text/html">
    {{#  if(d.payTime == null||d.payTime == ''){ }}
        /
    {{#  } else { }}
        {{#  return Format(d.payTime,'yyyy-MM-dd'); }}
    {{#  } }}
</script>
	
</body>
</html>