<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增客户信息</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
</head>
<body class="childrenBody">

<!--控制器列表展示-->
<div class="layui-form news_list">
    <form class="layui-form" id="customerFrom" lay-filter="customerFromFilter">

        <div class="layui-form-item" style="padding: 30px 0 0 0">
            <label class="layui-form-label">姓名<font style="color:red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入姓名"
                       class="layui-input">
            </div>
            <label class="layui-form-label">准驾车型<font style="color:red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <select name="driveType" id="driveType" onmousedown="if(this.options.length>3){this.size=4}"
                        onblur="this.size=0" onchange="this.size=0" style="position:absolute;z-index:1;"
                        lay-verify="required">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">国籍<font style="color:red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <select name="national" id="national" lay-verify="required" autocomplete="off" placeholder="请输入国籍"
                        class="layui-input"></select>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">出生日期<font style="color:red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="birthday" readonly lay-verify="required|birthday" id="birthday"
                           placeholder="请选择出生日期"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机号<font style="color: red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="linkTelphone1" lay-verify="linkTelphone1"
                       autocomplete="off" placeholder="请输入手机号" class="layui-input">
            </div>

            <label class="layui-form-label">座机&nbsp</label>
            <div class="layui-input-inline">
                <input type="text" name="linkTelphone2" lay-verify="linkTelphone2"
                       autocomplete="off" placeholder="请输入座机号码" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">证件类型<font style="color: red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <select name="documentType" id="documentType" lay-verify="required"></select>
            </div>
            <label class="layui-form-label">证件号码<font style="color: red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="documentNum" id="documentNum" lay-verify="required|documentNumS"
                       placeholder="请输入证件号码"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别<font style="color:red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <select name="sex" id="sex" lay-verify="required"></select>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">驾驶证号码<font style="color:red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="driveNum"  onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"
                           lay-verify="required|driveNum" autocomplete="off" placeholder="请输入驾驶证号码"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-inline">
                <input type="text" name="linkAddress" lay-verify="linkAddress" autocomplete="off" placeholder="请输入联系地址"
                       class="layui-input">
            </div>
            <label class="layui-form-label">初次领证</label>
            <div class="layui-input-inline">
                <input type="text" name="evidenceStart" readonly lay-verify="evidenceStart" id="evidenceStart"
                       placeholder="请选择初次领证日期"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">有效期起</label>
            <div class="layui-input-inline">
                <input type="text" name="effectiveStart" readonly lay-verify="effectiveStart" id="effectiveStart"
                       placeholder="请选择有效期开始日期"
                       class="layui-input">
            </div>
            <label class="layui-form-label">有效期止</label>
            <div class="layui-input-inline">
                <input type="text" name="effectiveEnd"  lay-verify="effectiveEnd" id="effectiveEnd"
                       placeholder="请选择有效期结束日期"
                       class="layui-input">
            </div>
        </div>

        <!-- 提交表单按钮 -->
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" id="customerSubmitBtn" lay-filter="customerSubmitBtnFilter">
                    立即提交
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/customer/add.js"></script>
<script>
    $(document).ready(function () {
        var dicSex = JSON.parse(window.sessionStorage.getItem("Dict"))[1].value;
        var dicCity = JSON.parse(window.sessionStorage.getItem("Dict"))[3].value;
        var dicDocumentType = JSON.parse(window.sessionStorage.getItem("Dict"))[4].value;
        var drivingCarModel = JSON.parse(window.sessionStorage.getItem("Dict"))[5].value;
        var sex = $("#sex");
        var national = $("#national");
        var documentType = $("#documentType");
        var driveType = $("#driveType");
        $.each(dicSex, function (index, value) {
            if (index == 0) sex.append("<option value=''>请选择</option>");
            sex.append("<option value='" + value.key + "'>" + value.value + "</option>");
        });
        $.each(dicCity, function (index, value) {
            if (index == 0) national.append("<option value=''>请选择</option>");
            national.append("<option value='" + value.key + "'>" + value.value + "</option>");
        });
        $.each(dicDocumentType, function (index, value) {
            if (index == 0) documentType.append("<option value=''>请选择</option>");
            documentType.append("<option value='" + value.key + "'>" + value.value + "</option>");
        });
        $.each(drivingCarModel, function (index, value) {
            if (index == 0) driveType.append("<option value=''>请选择</option>");
            driveType.append("<option value='" + value.key + "'>" + value.value + "</option>");
        });
    })
</script>
</body>
</html>