<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色编辑</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>

<body class="childrenBody">
<div style="margin-top: 30px;">
<form class="layui-form" id="roleEditForm" lay-filter="roleQueryFormFilter">
    <!--隐藏提交信息-->
    <div class="layui-form-item layui-hide">
        <input type="text" name="id" autocomplete="off" class="layui-input">
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-block">
                <input type="text" name="roleName" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">角色编号</label>
            <div class="layui-input-block">
                <input type="text" name="roleCode" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">角色描述&nbsp;</label>
			<div class="layui-input-block">
				<textarea name="desc" lay-verify="desc" style="width: 485px;min-height: 80px"
               			  readonly="readonly" autocomplete="off" class="layui-textarea"></textarea>
			</div>
		</div>
	</div>

</form>
</div>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/system/role/roleQuery.js"></script>
</body>
</html>


