<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色编辑</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>

<body class="childrenBody">
<div style="margin-top: 30px;">
<form class="layui-form" id="roleEditForm" lay-filter="roleEditFormFilter">
    <!--隐藏提交信息-->
    <div class="layui-form-item layui-hide">
        <input type="text" name="id" autocomplete="off" class="layui-input">
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名<font color="red">&nbsp;*</font></label>
            <div class="layui-input-block">
                <input type="text" name="roleName" lay-verify="roleName" autocomplete="off" placeholder="请输入角色名"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">角色编号<font color="red">&nbsp;*</font></label>
            <div class="layui-input-block">
                <input type="text" name="roleCode" lay-verify="roleCode" autocomplete="off" placeholder="请输入角色编号"
                       class="layui-input">
            </div>
        </div>
    </div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">角色描述&nbsp;&nbsp;</label>
			<div class="layui-input-block">
				<textarea name="desc" lay-verify="desc" style="width: 485px;min-height: 80px"
               			  placeholder="请对角色进行描述" autocomplete="off" class="layui-textarea"></textarea>
			</div>
		</div>
	</div>

    <!-- 提交表单 -->
    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" id="roleEditSubmit" lay-filter="roleEditSubmitBtn">立即提交</button>
        </div>
    </div>
</form>
</div>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/system/role/roleEdit.js"></script>
</body>
</html>


