<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>版本信息查看</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<div style="height: 40px"></div>
<form class="layui-form" id="versionForm" lay-filter="versionFormFilter">

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">版本号</label>
				<div class="layui-input-block">
					<input type="text" name="vId" id="vId" readonly="readonly" autocomplete="off" placeholder="请输入版本号" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">版本名称</label>
				<div class="layui-input-block">
					<input type="text" name="vName" id="vName" readonly="readonly" autocomplete="off" placeholder="请输入版本名称"
						   class="layui-input">
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">发布时间</label>
				<div class="layui-input-block">
					<input type="text" name="vReleaseTime" id="vReleaseTime" readonly="readonly"  autocomplete="off" placeholder="请选择发布时间" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">版本状态</label>
				<div class="layui-input-block">
					<input type="radio" name="vState" disabled value="0" title="不可用">
					<input type="radio" name="vState" disabled value="1" title="可用">
				</div>
			</div>
		</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">强制更新</label>
			<div class="layui-input-block">
				<input type="radio" name="vForcedUpdate" disabled value="0" title="不强制">
				<input type="radio" name="vForcedUpdate" disabled value="1" title="强制">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">下载地址</label>
			<div class="layui-input-block" style="width: 495px;">
				<input type="text" name="vDownloadUrl" readonly="readonly"  autocomplete="off" placeholder="请输入下载地址" class="layui-input">
			</div>
		</div>
	</div>
		
		
	</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/system/version/detail.js"></script>
</body>
</html>

