<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版本管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../assets/css/ace.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css" media="all">
</head>
<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">

<!--工具栏-->
<div>
    <!--搜索按钮-->
    <div style="padding-top: 7px;padding-right: 10px">
        <div class="layui-input-inline">
            <span style="font-size: 16px;padding-left: 10px">版本号:</span>
            <input type="text" id="versionIdParam" placeholder="请输入版本号" style="border-radius:6px;height: 16px;">
        </div>
        <div class="layui-input-inline">
            <span style="font-size: 16px;padding-left: 10px">版本名称:</span>
            <input type="text" id="versionNameParam" placeholder="请输入版本名称" style="border-radius:6px;height: 16px;">
        </div>
        <div class="layui-input-inline">
            <span style="font-size: 16px;padding-left: 10px">是否强制:</span>
            <select type="text" id="vForcedUpdateParam" placeholder="请选择是否强制" style="border-radius:6px;height: 28px;width: 100px">
                <option value="" selected>请选择</option>
                <option value="0">不强制</option>
                <option value="1">强制</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <span style="font-size: 16px;padding-left: 10px">是否可用:</span>
            <select type="text" id="vStateParam" placeholder="请选择是否可用" style="border-radius:6px;height: 28px;width: 100px">
                <option value="" selected>请选择</option>
                <option value="0">不可用</option>
                <option value="1">可用</option>
            </select>
        </div>
        <button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
            <i class="icon-search bigger-130"></i>
            <span class="bigger-130 no-text-shadow">搜索</span>
        </button>
    </div>
</div>


<!--工具栏-->
<div class='btn-operation' style="margin:7px 0 2px 0">
    <!--添加-->
    <button class="btn btn-xs btn-warning btn-add" id="addBtn">
        <i class="icon-plus bigger-130"></i>
        <span class="bigger-130 no-text-shadow">添加</span>
    </button>
    <!--详情-->
    <button class="btn btn-xs btn-primary" id="detailBtn">
        <i class="icon-zoom-in bigger-130"></i>
        <span class="bigger-130 no-text-shadow">详情</span>
    </button>
    <!--编辑-->
    <button class="btn btn-xs btn-primary" id="editBtn">
        <i class="icon-pencil bigger-130"></i>
        <span class="bigger-130 no-text-shadow">编辑</span>
    </button>
    <!--删除-->
    <button class="btn btn-xs btn-danger" id="deleteBtn">
        <i class="icon-trash bigger-130"></i>
        <span class="bigger-130 no-text-shadow">删除</span>
    </button>
</div>
</div>


<!--用户列表展示-->
<div class="layui-form news_list" style="padding: 0 50px 0 0">
    <table id="versionTable" lay-filter="versionTableFilter"></table>
</div>

<!-- 分页栏 -->
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/system/version/list.js"></script>
<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--生日格式处理-->
<script id="vReleaseTimeTpl" type="text/html">
    {{#  if(d.vReleaseTime == null||d.vReleaseTime == ''){ }}
    /
    {{#  } else { }}
    {{#  return Format(d.vReleaseTime,'yyyy-MM-dd'); }}
    {{#  } }}
</script>
<!--状态格式处理-->
<script id="vStateTpl" type="text/html">
    {{#  if(d.vState == 0){ }}
    不可用
    {{#  } else if(d.vState == 1){ }}
    可用
    {{#  } else { }}
    未知状态
    {{#  } }}
</script>
<!--是否强制状态格式处理-->
<script id="vForcedUpdateTpl" type="text/html">
    {{#  if(d.vForcedUpdate == 0){ }}
    不强制
    {{#  } else if(d.vForcedUpdate == 1){ }}
    强制
    {{#  } else { }}
    未知状态
    {{#  } }}
</script>
</body>
</html>