<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<!--用户列表展示-->
<div class="layui-form news_list">
    <div style="margin-top: 40px">
    <form class="layui-form" id="userAddForm" lay-filter="userAddFormFilter">
        <!--隐藏提交信息-->
        <div class="layui-form-item layui-hide">
            <input type="text" name="roleIds" autocomplete="off" class="layui-input">
        </div>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">用户名<font color="red">&nbsp;*</font></label>
						<div class="layui-input-inline">
							<input type="text" name="username" lay-verify="required|username"
								autocomplete="off" placeholder="请输入用户名" class="layui-input">
						</div>
					</div>

					<div class="layui-inline">
						<div class="layui-inline">
							<label class="layui-form-label">手机号码<font color="red">&nbsp;*</font></label>
							<div class="layui-input-inline">
								<input type="text" name="telphone"
									lay-verify="required|telphone" autocomplete="off"
									placeholder="请输入手机号码" class="layui-input">
							</div>
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">初始密码<font color="red">&nbsp;*</font></label>
						<div class="layui-input-inline">
							<input type="password" name="password" id="password"
								lay-verify="required|password" autocomplete="off"
								placeholder="请输入初始密码" class="layui-input">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">确认密码<font color="red">&nbsp;*</font></label>
						<div class="layui-input-inline">
							<input type="password" id="password2"
								lay-verify="password2" autocomplete="off"
								placeholder="请输入确认密码" class="layui-input">
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">出生日期<font color="red">&nbsp;*</font></label>
						<div class="layui-input-inline">
							<input type="text" name="birthday" lay-verify="required|birthday"
								id="birthday" placeholder="请选择出生日期" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">身份证号<font color="red">&nbsp;*</font></label>
						<div class="layui-input-inline">
							<input type="text" name="identityCard"
								lay-verify="required|identityCard" autocomplete="off"
								placeholder="请输入身份证号" class="layui-input">
						</div>
					</div>
				</div>

				<!-- 提交表单按钮 -->
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" id="userAddSubmit" lay-filter="userAddSubmitBtn">立即提交</button>
            </div>
        </div>
    </form>
  </div>
</div>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/system/user/userAdd.js"></script>
</body>
</html>