<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>用户编辑</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<div style="height: 40px"></div>
<form class="layui-form" id="userEditForm" lay-filter="userEditFormFilter">
    <!--隐藏提交信息-->
    <div class="layui-form-item layui-hide">
        <input type="text" name="id" autocomplete="off" class="layui-input">
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">用户名<font color="red">&nbsp;*</font></label>
        <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="required|username" autocomplete="off" placeholder="请输入用户名"
                   class="layui-input" style="width: 85%;">
        </div>
      </div>
      <div class="layui-inline"> 
        <label class="layui-form-label">手机号码<font color="red">&nbsp;*</font></label>
        <div class="layui-input-inline">
            <input type="text" name="telphone" lay-verify="required|telphone" autocomplete="off" placeholder="请输入手机号码"
                   class="layui-input" style="width: 85%;">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">出生日期<font color="red">&nbsp;*</font></label>
        <div class="layui-input-inline">
            <input type="text" name="birthday" id="birthday" lay-verify="required|birthday" placeholder="请选择出生日期"
                   class="layui-input" style="width: 85%;">
        </div>
      </div>
      
      <div class="layui-inline"> 
        <label class="layui-form-label">身份证号<font color="red">&nbsp;*</font></label>
        <div class="layui-input-inline">
            <input type="text" name="identityCard" lay-verify="required|identityCard" autocomplete="off"
                   placeholder="请输入身份证号" class="layui-input" style="width: 85%;">
        </div>
      </div>
    </div>

    <!-- 提交表单 -->
    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" id="userEditSubmit" lay-filter="userEditSubmitBtn">立即提交</button>
        </div>
    </div>
</form>


<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/system/user/userEdit.js"></script>
<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--生日格式处理-->
<script id="birthdayTpl" type="text/html">
    {{#  if(d.birthday == null||d.birthday == ''){ }}
    /
    {{#  } else { }}
    {{#  return Format(d.birthday,'yyyy-MM-dd'); }}
    {{#  } }}
</script>
</body>
</html>

