<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kentrasoft.cmsa.bis.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.kentrasoft.cmsa.bis.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
    <result column="rely_system" jdbcType="INTEGER" property="relySystem" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, `password`, telphone, birthday, identity_card, rely_system, `status`, 
    create_time, update_time, ext1, ext2
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>