<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据字典</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/font_eolqem241z66flxr.css" media="all"/>

	<link rel="stylesheet" href="../assets/css/ace.min.css" />
	<link rel="stylesheet" href="../css/font-awesome.min.css" media="all">
    <!-- <link rel="stylesheet" href="../css/news.css" media="all"/> -->
	<!-- zTree -->
 	<link rel="stylesheet" type="text/css" href="../ztree/css/zTreeStyle.css">
</head>
<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">
   <!--数据字典tree展示-->
   <div class="layui-side" style="background-color: white">
          <ul id="dictTree" class="ztree"></ul>
    </div>
<div class="layui-row" >
	<input type="hidden" name="dictParentId" th:value="${dictParentId}">
    <input type=hidden id="parentId"/>
    <div class="layui-body layui-form">
			<!--搜索-->
			<div style="padding-top: 7px; padding-right: 10px">
				<div class="layui-input-inline">
					<div style="display: inline-block;">
						<span style="font-size: 16px;">字典名称:</span> <input type="text"
							id="dictName" placeholder="请输入字典名称"
							style="border-radius: 6px; height: 16px;">
					</div>
					<div style="margin-left: 10px; display: inline-block;">
						<span style="font-size: 16px;">字典状态:</span>
						<div class="layui-input-inline">
							<select id="dictStatus" style="border-radius:6px;height: 28px;width: 130px">
								<option value="">请选择字典状态</option>
								<option value="0">无效</option>
								<option value="1">有效</option>
							</select>
						</div>
					</div>
                   </div>
					<button class="btn btn-xs btn-primary"
						style="float: right; width: 80px; margin-right: 48px"
						id="searchBtn">
						<i class="icon-search bigger-130"></i> <span
							class="bigger-130 no-text-shadow">搜索</span>
					</button>
				</div>
			<!--功能按钮区-->
		<div class='btn-operation' style="margin:7px 0 2px 0">
			<!--添加-->
			<button class="btn btn-xs btn-warning btn-add" id="addBtn">
				<i class="icon-plus bigger-130"></i>
				<span class="bigger-130 no-text-shadow">添加</span>
			</button>
			<!--详情-->
			<button class="btn btn-xs btn-primary" id="detail">
				<i class="icon-zoom-in bigger-130"></i>
				<span class="bigger-130 no-text-shadow">详情</span>
			</button>
			<!--编辑-->
			<button class="btn btn-xs btn-primary" id="edit">
				<i class="icon-pencil bigger-130"></i>
				<span class="bigger-130 no-text-shadow">编辑</span>
			</button>
			<!--删除-->
			<button class="btn btn-xs btn-danger" id="deleteBtn">
				<i class="icon-trash bigger-130"></i>
				<span class="bigger-130 no-text-shadow">删除</span>
			</button>
		</div>
	    <!--数据字典列表展示-->
		<div class="layui-form news_list" style="padding: 0 50px 0 0">
		    <table id="dictTable" lay-filter="dictTableFilter"></table>
		    <!--<script type="text/html" id="dictTableBar">-->
        		<!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
        		<!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    		<!--</script>-->
		</div>

		<!-- 分页栏 -->
		<div id="userListPage"></div>
   	</div>
</div>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../ztree/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../js/system/dict/dictTree.js"></script>
<script type="text/javascript" src="../js/system/dict/dictList.js"></script>
<!--状态处理-->
<script id="statusTpl" type="text/html">
    {{#  if(d.dictStatus == true){ }}
        {{#  return "有效"; }}
    {{#  } else { }}
        {{#  return "无效"; }}
    {{#  } }}
</script>

</body>
</html>