<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>缴费记录</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" media="all">
    <script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
    <!--打印样式  -->
    <style type="text/css">#payRecordPrint{display:none}</style>
    <style type="text/css" media="print">#payRecordPrint{display:block}</style>
    
</head>
<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">
<div>    
	<!--搜索-->
    <div style="padding-top: 7px;padding-right: 10px">
         <div class="layui-input-inline" style="margin-right: 40px">
              <span style="font-size: 16px;">车牌号码:</span>
              <input type="text" id="searchParamlicenseNum" placeholder="请输入车牌号" style="border-radius:6px;height: 16px;">
         </div>
         <div class="layui-input-inline" style="margin-right: 40px">
         	<span style="font-size: 16px;">缴费类型:</span>
		    	<select id="searchParamPayStatus" style="height: 27px;width: 170px"></select>
         </div>
         <div class="layui-input-inline">
         	<span style="font-size: 16px;">缴费状态:</span>
		    	<select id="searchParamIsPay" style="height: 27px;width: 170px"></select>
         </div>
         <button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
              <i class="icon-search bigger-130"></i>
              <span class="bigger-130 no-text-shadow">搜索</span>
         </button>
    </div>
    <!--上部按钮-->
    <div class='btn-operation' style="margin:7px 0 2px 0">
    	<!--添加-->
        <button class="btn btn-xs btn-warning btn-add" id="addBtn">
        	<i class="icon-plus bigger-130"></i>
        	<span class="bigger-130 no-text-shadow">添加</span>
        </button>   
    	<!--详情-->
        <button class="btn btn-xs btn-primary" id="detailBtn">
            <i class="icon-zoom-in bigger-130"></i>
            <span class="bigger-130 no-text-shadow">详情</span>
        </button>
        <!--编辑-->
        <button class="btn btn-xs btn-primary" id="editBtn">
            <i class="icon-pencil bigger-130"></i>
            <span class="bigger-130 no-text-shadow">编辑</span>
        </button>
        <!--删除-->
        <button class="btn btn-xs btn-danger" id="deleteBtn">
            <i class="icon-trash bigger-130"></i>
            <span class="bigger-130 no-text-shadow">删除</span>
        </button>
    	<!--导出-->
    	<button class="btn btn-xs btn-primary" id="exportBtn">
        	<i class="icon-download-alt bigger-130"></i>
            <span class="bigger-130 no-text-shadow">导出</span>
        </button>
        <!--打印-->
        <button class="btn btn-xs btn-primary" id="printBth">
        	<i class="icon-print bigger-130"></i>
            <span class="bigger-130 no-text-shadow">打印</span>
        </button>       
	</div>        
    
    
</div>

<!--缴费记录列表展示-->
<div class="layui-form news_list" style="padding: 0 50px 0 0">
    <table id="payRecordTable" lay-filter="payRecordTableFilter"></table>
</div>

<div id="payRecordPrint">

	<h3><center>贵阳高速公路收费管理平台-缴费记录信息表</center></h3>
	    <table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
	        <tr>
	            <td colspan="5" align="center"><h3>缴费记录详情</h3></td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">车牌号码</td>
	            <td colspan="2" align="center">
	                <span id="licenseNum" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">缴费类型</td>
	            <td colspan="2" align="center">
	                <span id="payStatus" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">进站时间</td>
	            <td colspan="2" align="center">
	                <span id="entranceTime" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">出站时间</td>
	            <td colspan="2" align="center">
	                <span id="exitTime" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">进站名称</td>
	            <td colspan="2" align="center">
	                <span id="entranceName" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">出站名称</td>
	            <td colspan="2" align="center">
	                <span id="exitName" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">应缴费(元)</td>
	            <td colspan="2" align="center">
	                <span id="receivables" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">已缴费(元)</td>
	            <td colspan="2" align="center">
	                <span id="payCount" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">待缴费(元)</td>
	            <td colspan="2" align="center">
	                <span id="expensesPaid" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">缴费状态</td>
	            <td colspan="2" align="center">
	                <span id="isPay" class="cleanDate"></span>
	            </td>
	        </tr>
	    </table>

	<table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
          <thead>
         	   <tr height="36px"><td colspan="6" align="center"><b>行驶轨迹数据</b></td></tr>
        	   <tr height="36px">
        	        <th rowspan="2" align="center">序号</th>
	                <th rowspan="2" align="center">车牌号码</th>
				    <th rowspan="2" align="center">通过地点</th>
				    <th rowspan="2" align="center">通过时间</th>
				    <th rowspan="2" align="center">经度</th>
				    <th rowspan="2" align="center">纬度</th>
	             </tr>
          </thead>
          <tbody id="payRecordPrintTbody"></tbody>
    </table>
</div>

<!-- 分页栏 -->
<div id="payRecordListPage"></div>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/record/payRecordList.js"></script>
<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--日期格式处理-->
<script id="entranceTimeTpl" type="text/html">
    {{#   if(d.entranceTime == null||d.entranceTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.entranceTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>
<script id="exitTimeTpl" type="text/html">
    {{#   if(d.exitTime == null||d.exitTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.exitTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>
<script id="payTimeTpl" type="text/html">
    {{#   if(d.payTime == null||d.payTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.payTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>
</body>
</html>