<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<style type="text/css"> body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=4.5.0&ak=r1jS6R3sNBAsCly7sapQt3BMgoITKop8"></script>
<!-- 直接引用百度原生js -->
<!-- <script type="text/javascript" src="js/map/baiduMapOnline.js"></script> -->
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/map/baiduMap.js"></script>
<script type="text/javascript" src="js/utils/dateFormat.js"></script>
<title>车辆行驶轨迹</title>
</head>
<body>
    <input type="hidden" id="trackid" th:value="${trackid}"/>
    <input type="hidden" id="license" th:value="${license}"/>
	<div id="allmap"></div>
</body>
</html>

