<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kentrasoft.cms.dao.ControllerManagementMapper">
  <resultMap id="BaseResultMap" type="com.kentrasoft.cms.entity.ControllerManagement">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="controller_code" jdbcType="VARCHAR" property="controllerCode" />
    <result column="controller_address" jdbcType="VARCHAR" property="controllerAddress" />
    <result column="controller_gis_x" jdbcType="VARCHAR" property="controllerGisX" />
    <result column="controller_gis_y" jdbcType="VARCHAR" property="controllerGisY" />
    <result column="controller_status" jdbcType="VARCHAR" property="controllerStatus" />
    <result column="descrip_infos" jdbcType="VARCHAR" property="descripInfos" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="extends1" jdbcType="VARCHAR" property="extends1" />
    <result column="extends2" jdbcType="VARCHAR" property="extends2" />
    <result column="extends3" jdbcType="VARCHAR" property="extends3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, controller_code, controller_address, controller_gis_x, controller_gis_y, 
    controller_status, descrip_infos, create_time, update_time, extends1, extends2, extends3
  </sql>
  <select id="selectByExample" parameterType="com.kentrasoft.cms.entity.ControllerManagementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from controller_management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from controller_management
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from controller_management
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kentrasoft.cms.entity.ControllerManagementExample">
    delete from controller_management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kentrasoft.cms.entity.ControllerManagement">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
        SELECT REPLACE((SELECT CONCAT('control','-',UUID()) FROM DUAL),'-','')
    </selectKey>
    insert into controller_management (`id`,`name`, controller_code, controller_address,
      controller_gis_x, controller_gis_y, controller_status,
      descrip_infos, create_time, update_time,
      extends1, extends2, extends3
      )
    values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{controllerCode,jdbcType=VARCHAR}, #{controllerAddress,jdbcType=VARCHAR},
      #{controllerGisX,jdbcType=VARCHAR}, #{controllerGisY,jdbcType=VARCHAR}, #{controllerStatus,jdbcType=VARCHAR},
      #{descripInfos,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{extends1,jdbcType=VARCHAR}, #{extends2,jdbcType=VARCHAR}, #{extends3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kentrasoft.cms.entity.ControllerManagement">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
        SELECT REPLACE((SELECT CONCAT('control','-',UUID()) FROM DUAL),'-','')
    </selectKey>
    insert into controller_management
    `id`,
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="controllerCode != null">
        controller_code,
      </if>
      <if test="controllerAddress != null">
        controller_address,
      </if>
      <if test="controllerGisX != null">
        controller_gis_x,
      </if>
      <if test="controllerGisY != null">
        controller_gis_y,
      </if>
      <if test="controllerStatus != null">
        controller_status,
      </if>
      <if test="descripInfos != null">
        descrip_infos,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="extends1 != null">
        extends1,
      </if>
      <if test="extends2 != null">
        extends2,
      </if>
      <if test="extends3 != null">
        extends3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="controllerCode != null">
        #{controllerCode,jdbcType=VARCHAR},
      </if>
      <if test="controllerAddress != null">
        #{controllerAddress,jdbcType=VARCHAR},
      </if>
      <if test="controllerGisX != null">
        #{controllerGisX,jdbcType=VARCHAR},
      </if>
      <if test="controllerGisY != null">
        #{controllerGisY,jdbcType=VARCHAR},
      </if>
      <if test="controllerStatus != null">
        #{controllerStatus,jdbcType=VARCHAR},
      </if>
      <if test="descripInfos != null">
        #{descripInfos,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extends1 != null">
        #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null">
        #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null">
        #{extends3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kentrasoft.cms.entity.ControllerManagementExample" resultType="java.lang.Long">
    select count(*) from controller_management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update controller_management
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerCode != null">
        controller_code = #{record.controllerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerAddress != null">
        controller_address = #{record.controllerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerGisX != null">
        controller_gis_x = #{record.controllerGisX,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerGisY != null">
        controller_gis_y = #{record.controllerGisY,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerStatus != null">
        controller_status = #{record.controllerStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.descripInfos != null">
        descrip_infos = #{record.descripInfos,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extends1 != null">
        extends1 = #{record.extends1,jdbcType=VARCHAR},
      </if>
      <if test="record.extends2 != null">
        extends2 = #{record.extends2,jdbcType=VARCHAR},
      </if>
      <if test="record.extends3 != null">
        extends3 = #{record.extends3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update controller_management
    set id = #{record.id,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      controller_code = #{record.controllerCode,jdbcType=VARCHAR},
      controller_address = #{record.controllerAddress,jdbcType=VARCHAR},
      controller_gis_x = #{record.controllerGisX,jdbcType=VARCHAR},
      controller_gis_y = #{record.controllerGisY,jdbcType=VARCHAR},
      controller_status = #{record.controllerStatus,jdbcType=VARCHAR},
      descrip_infos = #{record.descripInfos,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      extends1 = #{record.extends1,jdbcType=VARCHAR},
      extends2 = #{record.extends2,jdbcType=VARCHAR},
      extends3 = #{record.extends3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kentrasoft.cms.entity.ControllerManagement">
    update controller_management
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="controllerCode != null">
        controller_code = #{controllerCode,jdbcType=VARCHAR},
      </if>
      <if test="controllerAddress != null">
        controller_address = #{controllerAddress,jdbcType=VARCHAR},
      </if>
      <if test="controllerGisX != null">
        controller_gis_x = #{controllerGisX,jdbcType=VARCHAR},
      </if>
      <if test="controllerGisY != null">
        controller_gis_y = #{controllerGisY,jdbcType=VARCHAR},
      </if>
      <if test="controllerStatus != null">
        controller_status = #{controllerStatus,jdbcType=VARCHAR},
      </if>
      <if test="descripInfos != null">
        descrip_infos = #{descripInfos,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extends1 != null">
        extends1 = #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null">
        extends2 = #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null">
        extends3 = #{extends3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kentrasoft.cms.entity.ControllerManagement">
    update controller_management
    set `name` = #{name,jdbcType=VARCHAR},
      controller_code = #{controllerCode,jdbcType=VARCHAR},
      controller_address = #{controllerAddress,jdbcType=VARCHAR},
      controller_gis_x = #{controllerGisX,jdbcType=VARCHAR},
      controller_gis_y = #{controllerGisY,jdbcType=VARCHAR},
      controller_status = #{controllerStatus,jdbcType=VARCHAR},
      descrip_infos = #{descripInfos,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--##############################################自定义方法##################################################-->
  <!--批量删除-->
  <delete id="deleteByPKs" parameterType="String">
      delete from `controller_management` WHERE FIND_IN_SET(id,#{ids})
  </delete>
</mapper>