<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kentrasoft.cms.dao.FrameManagementMapper">
  <resultMap id="BaseResultMap" type="com.kentrasoft.cms.entity.FrameManagement">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="frame_code" jdbcType="VARCHAR" property="frameCode" />
    <result column="frame_address" jdbcType="VARCHAR" property="frameAddress" />
    <result column="frame_gis_x" jdbcType="VARCHAR" property="frameGisX" />
    <result column="frame_gis_y" jdbcType="VARCHAR" property="frameGisY" />
    <result column="frame_status" jdbcType="VARCHAR" property="frameStatus" />
    <result column="descrip_infos" jdbcType="VARCHAR" property="descripInfos" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="extends1" jdbcType="VARCHAR" property="extends1" />
    <result column="extends2" jdbcType="VARCHAR" property="extends2" />
    <result column="extends3" jdbcType="VARCHAR" property="extends3" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, `name`, frame_code, frame_address, frame_gis_x, frame_gis_y, frame_status, 
    descrip_infos, create_time, update_time, extends1, extends2, extends3
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from frame_management
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kentrasoft.cms.entity.FrameManagement">
    insert into frame_management (id, `name`, frame_code, 
      frame_address, frame_gis_x, frame_gis_y, 
      frame_status, descrip_infos, create_time, 
      update_time, extends1, extends2, 
      extends3)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{frameCode,jdbcType=VARCHAR}, 
      #{frameAddress,jdbcType=VARCHAR}, #{frameGisX,jdbcType=VARCHAR}, #{frameGisY,jdbcType=VARCHAR}, 
      #{frameStatus,jdbcType=VARCHAR}, #{descripInfos,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{extends1,jdbcType=VARCHAR}, #{extends2,jdbcType=VARCHAR}, 
      #{extends3,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kentrasoft.cms.entity.FrameManagement">
    update frame_management
    set `name` = #{name,jdbcType=VARCHAR},
      frame_code = #{frameCode,jdbcType=VARCHAR},
      frame_address = #{frameAddress,jdbcType=VARCHAR},
      frame_gis_x = #{frameGisX,jdbcType=VARCHAR},
      frame_gis_y = #{frameGisY,jdbcType=VARCHAR},
      frame_status = #{frameStatus,jdbcType=VARCHAR},
      descrip_infos = #{descripInfos,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `name`, frame_code, frame_address, frame_gis_x, frame_gis_y, frame_status, 
    descrip_infos, create_time, update_time, extends1, extends2, extends3
    from frame_management
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 查询导出数据 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, frame_code, frame_address, frame_gis_x, frame_gis_y, frame_status, 
    descrip_infos, create_time, update_time, extends1, extends2, extends3
    from frame_management
  </select>
  
  <select id="selectBykey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `name`, frame_code, frame_address, frame_gis_x, frame_gis_y, frame_status, 
    descrip_infos, create_time, update_time, extends1, extends2, extends3
    from frame_management a
    where a.`name` LIKE '%${serchnameParam}%'
    AND	  a.frame_code LIKE '%${searchNoParam}%'
	AND	  a.frame_status LIKE '%${serchStatusParam}%'
  </select>
  
  <!--查询总数  -->
  <select id="QueryCount" resultType="int">
     select count(*) from frame_management 
     where 1=1
     <if test="serchName != null and serchName !=''">
     and name like "%"#{serchName,jdbcType=VARCHAR}"%"
     </if>
     <if test="searchNo!=null and searchNo!=''">
     and frame_code like "%"#{searchNo,jdbcType=VARCHAR}"%"
     </if>
     <if test="serchStatus!=null and serchStatus!=''">
     and frame_status = #{serchStatus,jdbcType=VARCHAR}
     </if>
  </select>
  
  <!--分页查询信息  -->
  <select id="QuerypageForm" parameterType="int" resultMap="BaseResultMap">
     select
      <include refid="Base_Column_List"></include>
     from frame_management
     <if test="(serchName != null and serchName !='') or (searchNo!=null and searchNo!='') or (serchStatus!=null and serchStatus!='') ">
     where 1=1
     </if>
     <if test="serchName != null and serchName !=''">
      and name like "%"#{serchName,jdbcType=VARCHAR}"%"
     </if>
     <if test="searchNo!=null and searchNo!=''">
     and frame_code like "%"#{searchNo,jdbcType=VARCHAR}"%"
     </if>
     <if test="serchStatus!=null and serchStatus!=''">
     and frame_status = #{serchStatus,jdbcType=VARCHAR}
     </if>
     limit #{limitStar,jdbcType=BIGINT} , #{limitEnd,jdbcType=BIGINT}
  </select>
  
  <!--获取设备状态信息  -->
  <resultMap type="com.kentrasoft.cms.entity.DictInfos" id="DictInfos">
     <result  column="dict_name" jdbcType="VARCHAR" property="DictName" />
     <result  column="dict_code" jdbcType="VARCHAR" property="DictValue" />
  </resultMap>
  <select id="getDictFrameStatus" resultMap="DictInfos">
    select dict_name,dict_code from Dict where dict_parent_id=#{parentId,jdbcType=VARCHAR};
  </select>
  
  <!-- 新增查询是否重复数据 -->
  <select id="querybyFrameCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List"></include>
    from frame_management 
    where frame_code = #{frameCode,jdbcType=VARCHAR} 
    <if test="frameId !=null and frameId !='' ">
    and id != #{frameId,jdbcType=VARCHAR}
    </if>
  </select>
  <!--更新设备状态  -->
  <update id="updateFrameStatus">
    update frame_management set frame_status=#{frameStatus,jdbcType=VARCHAR} 
    where id=#{id,jdbcType=VARCHAR}
  </update>
  <select id="QueryCreatTime" parameterType="java.lang.String" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List"></include>
    from frame_management 
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>