<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>5.8G设备管展示页面</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/device/deviceView.js"></script>
</head>
<body class="childrenBody">
<div style="margin-top: 30px;">
<form class="layui-form" action="#" lay-filter="deviceForm">
    <div class="layui-form-item">
        <label class="layui-form-label">设备名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" readonly="readonly" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">设备编号</label>
        <div class="layui-input-inline">
            <input type="text" name="deviceCode" readonly="readonly" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设备经度</label>
        <div class="layui-input-inline">
            <input type="text" name="deviceGisX" readonly="readonly" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">设备纬度</label>
        <div class="layui-input-inline">
            <input type="text" name="deviceGisY" readonly="readonly" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设备状态</label>
        <div class="layui-input-inline">
            <input type="text" name="deviceStatus" readonly="readonly" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">所属控制器</label>
        <div class="layui-input-inline">
            <!-- <select name="belongEqipment" lay-verify="required" id="belongEqipment" lay-filter="belongEqipmentSelect"> -->
            <input type="text" name="belongEqipment" readonly="readonly" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">设备地址</label>
        <div class="layui-input-block">
            <input type="text" name="deviceAddress" style="width: 85%;" readonly="readonly" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设备描述</label>
        <div class="layui-input-block">
              <textarea name="descripInfos" style="width: 85%;min-height: 90px" readonly="readonly" autocomplete="off"
                        class="layui-textarea"></textarea>
        </div>
    </div>
</form>
</div>
</body>
</html>