<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>5.8G设备管理首页</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
    <link rel="stylesheet" href="../assets/css/ace.min.css"/>
    <script type="text/javascript" src="../js/device/deviceList.js"></script>
    <script type="text/javascript" src="../js/utils/dateFormat.js"></script>
    <!--打印样式  -->
    <style type="text/css">#devicePrint { display: none}</style>
    <style type="text/css" media="print">#devicePrint {display: block}</style>
    <link rel="stylesheet" href="../css/font-awesome.min.css" media="all">

</head>
<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">
<div>
    <!--搜索-->
    <div style="padding-top: 7px;padding-right: 10px">
        <div class="layui-input-inline">
           <div style="display: inline-block;">
            <span style="font-size: 16px;">设备名称:</span>
            <div class="layui-input-inline">
               <input type="text" id="searchParam" placeholder="请输入设备名称" style="border-radius:6px;height: 16px;">
            </div>
          </div>
          <div style="margin-left: 10px;display: inline-block;">
            <span style="font-size: 16px;">设备编号:</span>
            <div class="layui-input-inline">
               <input type="text" id="searchNo" placeholder="请输入设备编号" style="border-radius:6px;height: 16px;">
            </div>
          </div>
          <div style="margin-left: 10px;display: inline-block;">
            <span style="font-size: 16px;">设备状态:</span>
            <div class="layui-input-inline">
             <select id="serchStatus"></select>
            </div>
         </div>
        </div>
        <button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
            <i class="icon-search bigger-130"></i>
            <span class="bigger-130 no-text-shadow">搜索</span>
        </button>
    </div>
    <!--上部按钮-->
    <div class='btn-operation' style="margin:7px 0 2px 0">
        <!--添加-->
        <button class="btn btn-xs btn-warning btn-add" id="addBtn">
            <i class="icon-plus bigger-130"></i>
            <span class="bigger-130 no-text-shadow">添加</span>
        </button>
        <!--详情-->
        <button class="btn btn-xs btn-primary" id="detail">
            <i class="icon-zoom-in bigger-130"></i>
            <span class="bigger-130 no-text-shadow">详情</span>
        </button>
        <!--编辑-->
        <button class="btn btn-xs btn-primary" id="edit">
            <i class="icon-pencil bigger-130"></i>
            <span class="bigger-130 no-text-shadow">编辑</span>
        </button>
        <!--删除-->
        <button class="btn btn-xs btn-danger" id="deleteBtn">
            <i class="icon-trash bigger-130"></i>
            <span class="bigger-130 no-text-shadow">删除</span>
        </button>
        <!--导出-->
        <button class="btn btn-xs btn-primary" id="expor">
            <i class="icon-download-alt bigger-130"></i>
            <span class="bigger-130 no-text-shadow">导出</span>
        </button>
        <!--打印-->
        <button class="btn btn-xs btn-primary" id="print">
            <i class="icon-print bigger-130"></i>
            <span class="bigger-130 no-text-shadow">打印</span>
        </button>
        <!--维修-->
        <button class="btn btn-xs btn-primary" id="repair">
            <i class="icon-wrench bigger-130"></i>
            <span class="bigger-130 no-text-shadow">维修</span>
        </button>
    </div>

</div>

<!--数据字典列表展示-->
<div class="layui-form news_list" style="padding: 0 50px 0 0">
    <table id="deviceTable" lay-filter="deviceTableFilter"></table>
</div>


<!--打印数据  -->
<div id="devicePrint">
     <h3><center>贵阳高速公路收费管理平台-采集设备信息表</center></h3>
    <table class=""  align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="5" align="center"><h3>采集设备详情</h3></td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">设备名称</td>
            <td colspan="2" align="center">
                <span id="nameSpan" class="cleanDate"></span>
            </td>
            <td width="15%" align="center" style="font-weight:bold">设备编号</td>
            <td colspan="2" align="center">
                <span id="controllerCodeSpan" class="cleanDate"></span>
            </td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">经度</td>
            <td colspan="2" align="center">
                <span id="controllerGisXSpan" class="cleanDate"></span>
            </td>
            <td width="15%" align="center" style="font-weight:bold">纬度</td>
            <td colspan="2" align="center">
                <span id="controllerGisYSpan" class="cleanDate"></span>
            </td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">设备地址</td>
            <td colspan="2" align="center">
                <span id="controllerAddressSpan" class="cleanDate"></span>
            </td>
            <td width="15%" align="center" style="font-weight:bold">设备状态</td>
            <td colspan="2" align="center">
                <span id="controllerStatusSpan" class="cleanDate"></span>
            </td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">设备描述</td>
            <td colspan="5" align="center">
                <span id="descripInfosSpan" class="cleanDate"></span>
            </td>
        </tr>
    </table>
    <table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0" >
        <thead>
        <tr height="36px">
            <td colspan="7" align="center"><b>采集设备维修记录</b></td>
        </tr>
        <tr height="36px">
            <th width="70" align="center">姓名</th>
            <th width="70" align="center">电话</th>
            <th width="70" align="center">起始时间</th>
            <th width="70" align="center">结束时间</th>
            <th width="70" align="center">维修状态</th>
        </tr>
        </thead>
        <tbody id="controlPrintTbody">
        </tbody>
    </table>
</div>
<!--维修记录  -->
<div class="layui-tab layui-tab-brief"  style="padding: 0 50px 0 0">
    <ul class="layui-tab-title" style="left: -25px;background-color: white">
        <li class="layui-this">维修记录</li>
    </ul>
    <div class="layui-tab-content" style="padding: 0px;">
        <div class="layui-tab-item layui-show">
            <table id="deviceRepairTable" lay-filter="deviceRepairTableFilter"></table>
        </div>
    </div>
</div>

</body>
<!--时间转换  -->
<script id="DateFormate" type="text/html">
    {{#  if(d.repairDateEnd != null && d.repairDateEnd != ''){ return Format(d.repairDateEnd,'yyyy-MM-dd hh:mm:ss'); } }}
    {{#  if(d.repairDateStar != null && d.repairDateStar != ''){ return Format(d.repairDateStar,'yyyy-MM-dd hh:mm:ss'); } }}
</script>
<!--维修状态 -->
<script id="repairStatusTpl" type="text/html">
    {{# if(d.repairStatus=='01'){return '未开始'};  }}
    {{# if(d.repairStatus=='02'){return '进行中'};  }}
    {{# if(d.repairStatus=='03'){return '维修完成'}; }}
</script>

</html>