<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LED设备详情</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 18px;">-->
<!--<legend><font color="#2e8b57">设备详情</font></legend>-->
<!--</fieldset>-->

<form class="layui-form" id="ledForm" lay-filter="ledFormFilter">

    <div class="layui-form-item" style="padding: 25px 0 0 0">
        <div class="layui-inline">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-block">
                <input type="text" name="ledCode" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设备经度</label>
            <div class="layui-input-block">
                <input type="text" name="ledGisX" autocomplete="off" readonly="readonly" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备纬度</label>
            <div class="layui-input-block">
                <input type="text" name="ledGisY" autocomplete="off" readonly="readonly" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设备地址</label>
            <div class="layui-input-block">
                <input type="text" name="ledAddress" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备状态</label>
            <div class="layui-input-block">
                <input type="text" name="ledStatus" id="ledStatus" readonly="readonly" autocomplete="off" class="layui-input">
                </input>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设备描述</label>
        <div class="layui-input-block">
            <textarea type="text" name="descripInfos" autocomplete="off" readonly="readonly" class="layui-textarea"
                      style="width: 85%;min-height: 90px"></textarea>
        </div>
    </div>
</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/led/ledDetail.js"></script>

</body>
</html>

