<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LED管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/font-awesome.min.css" media="all">
    <!--打印样式  -->
    <style type="text/css">#ledPrint{display:none}</style>
    <style type="text/css" media="print">#ledPrint{display:block}</style>
    <script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
    
</head>
<body class="childrenBody" style="padding: 0 0 0 30px;background-color: white">
        <div>
            <!--搜索-->
            <div style="padding-top: 7px;padding-right: 10px">
                <div class="layui-input-inline">
                    <span style="font-size: 16px;">设备名称:</span>
                    <input type="text" id="nameParam" placeholder="请输入LED名称" style="border-radius:6px;height: 16px;">
                </div>
                <div class="layui-input-inline">
                    <span style="font-size: 16px;padding-left: 10px">设备编号:</span>
                    <input type="text" id="codeParam" placeholder="请输入LED编号" style="border-radius:6px;height: 16px;">
                </div>
                <div class="layui-input-inline">
                    <span style="font-size: 16px;padding-left: 10px">设备状态:</span>
                    <select type="text" id="statusParam" style="border-radius:6px;height: 28px;"></select>
                </div>
                <button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
                    <i class="icon-search bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">搜索</span>
                </button>
            </div>
            <!--上部按钮-->
            <div class='btn-operation' style="margin:7px 0 2px 0">
                <!--添加-->
                <button class="btn btn-xs btn-warning btn-add" id="addBtn">
                    <i class="icon-plus bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">添加</span>
                </button>
                <!--详情-->
                <button class="btn btn-xs btn-primary" id="ledDetail">
                    <i class="icon-zoom-in bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">详情</span>
                </button>
                <!--编辑-->
                <button class="btn btn-xs btn-primary" id="ledEdit">
                    <i class="icon-pencil bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">编辑</span>
                </button>
                <!--删除-->
                <button class="btn btn-xs btn-danger" id="deleteBtn">
                    <i class="icon-trash bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">删除</span>
                </button>
                <!--导出-->
                <button class="btn btn-xs btn-primary" id="exportBtn">
                    <i class="icon-download-alt bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">导出</span>
                </button>
                <!--打印-->
                <button class="btn btn-xs btn-primary" id="printBtn">
                    <i class="icon-print bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">打印</span>
                </button>
                <!--维修-->
                <button class="btn btn-xs btn-primary" id="ledRepair">
                    <i class="icon-wrench bigger-130"></i>
                    <span class="bigger-130 no-text-shadow">维修</span>
                </button>
            </div>
        </div>

<div class="layui-form news_list" style="padding: 0 50px 0 0">
    <table id="ledTable" lay-filter="ledTableFilter"></table>
</div>

<!--打印功能-->
<div id="ledPrint">
    <h3><center>贵阳高速公路收费管理平台-LED设备信息表</center></h3>
    <table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="5" align="center"><h3>LED设备详情</h3></td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">设备名称</td>
            <td colspan="2" align="center">
                <span id="nameSpan" class="cleanDate"></span>
            </td>
            <td width="15%" align="center" style="font-weight:bold">设备编号</td>
            <td colspan="2" align="center">
                <span id="ledCode" class="cleanDate"></span>
            </td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">经度</td>
            <td colspan="2" align="center">
                <span id="ledGisX" class="cleanDate"></span>
            </td>
            <td width="15%" align="center" style="font-weight:bold">纬度</td>
            <td colspan="2" align="center">
                <span id="ledGisY" class="cleanDate"></span>
            </td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">设备地址</td>
            <td colspan="2" align="center">
                <span id="ledAddress" class="cleanDate"></span>
            </td>
            <td width="15%" align="center" style="font-weight:bold">设备状态</td>
            <td colspan="2" align="center">
                <span id="ledStatus" class="cleanDate"></span>
            </td>
        </tr>
        <tr>
            <td width="15%" height="42px" align="center" style="font-weight:bold">设备描述</td>
            <td colspan="5" align="center">
                <span id="descripInfos" class="cleanDate"></span>
            </td>
        </tr>
    </table>
    <table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0" >
        <thead>
        <tr height="36px">
            <td colspan="7" align="center"><b>LED设备维修记录</b></td>
        </tr>
        <tr height="36px">
            <th width="70" align="center">姓名</th>
            <th width="70" align="center">电话</th>
            <th width="70" align="center">起始时间</th>
            <th width="70" align="center">结束时间</th>
            <th width="70" align="center">维修状态</th>
        </tr>
        </thead>
        <tbody id="ledRepairTbody">
        </tbody>
    </table>
</div>

<!--维修记录  -->
<div class="layui-tab layui-tab-brief" lay-filter="ledTab" style="padding: 0 50px 0 0">
    <ul class="layui-tab-title" style="left: -25px;background-color: white">
        <li class="layui-this">维修记录</li>
    </ul>
    <div class="layui-tab-content" style="padding: 0px">
        <div class="layui-tab-item layui-show">
            <table id="ledRepairTable" lay-filter="ledRepairTableFilter"></table>
        </div>
    </div>
</div>
<!-- 分页栏 -->
<!--<div id="ledListPage"></div>-->
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/led/list.js"></script>
<!--日期格式化工具类-->
<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
<!--日期格式处理-->
<script id="createTpl" type="text/html">
    {{#   if(d.createTime == null||d.createTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.createTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>
<!--日期格式处理-->
<script id="updateTpl" type="text/html">
    {{#   if(d.updateTime == null||d.updateTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.updateTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
</script>

<script id="StarDateFormate" type="text/html">
    {{#  if(d.repairDateStar != null && d.repairDateStar != ''){ return Format(d.repairDateStar,'yyyy-MM-dd hh:mm:ss'); } }}
</script>
<script id="EndDateFormate" type="text/html">
    {{#  if(d.repairDateEnd != null && d.repairDateEnd != ''){ return Format(d.repairDateEnd,'yyyy-MM-dd hh:mm:ss'); } }}
</script>
</body>
</html>