<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>违规信息审核</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<form class="layui-form" id="breakRecordForm" lay-filter="breakRecordFormFilter" style="padding-top:20px;">

    <!--隐藏提交信息-->
    <div class="layui-form-item layui-hide">
        <input type="text" name="id" autocomplete="off" class="layui-input">
    </div>
    
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车牌号码</label>
            <div class="layui-input-inline">
                <input type="text" name="licenseNum" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">记录编号</label>
            <div class="layui-input-inline">
                <input type="text" name="drivingRecord" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">进站时间</label>
            <div class="layui-input-inline">
                <input type="text" name="entranceTime" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出站时间</label>
            <div class="layui-input-inline">
                <input type="text" name="exitTime" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">进站名称</label>
            <div class="layui-input-inline">
                <input type="text" name="entranceName" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出站名称</label>
            <div class="layui-input-inline">
                <input type="text" name="exitName" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

	<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">应缴费(元)</label>
                <div class="layui-input-inline">
                    <input type="text" name="extends1" readonly="readonly" autocomplete="off" 
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">已缴费(元)</label>
                <div class="layui-input-inline">
                    <input type="text" name="extends2" readonly="readonly" autocomplete="off" 
                           class="layui-input">
                </div>
            </div>
        </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">待缴费(元)</label>
            <div class="layui-input-inline">
                <input type="text" name="payMoney" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
                <label class="layui-form-label">违规类型</label>
                <div class="layui-input-inline">
              	  	 <!-- <input type="text" name="remakeType" readonly="readonly" autocomplete="off" class="layui-input"> -->
              	  	 <select name="remakeType" disabled="true" lay-verify="required"  id="remakeType" lay-filter="auditStatusSelect"></select>
                </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">违规备注</label>
        <div class="layui-input-inline">
            <!-- <input type="text" name="remakeContent" autocomplete="off" readonly="readonly" class="layui-input" > -->
            <textarea name="remakeContent" lay-verify="remakeContent" style="width: 510px;min-height: 75px"
                      placeholder="请输入违规备注" autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
       <div class="layui-inline">
        <label class="layui-form-label">缴费类型<font color="red">&nbsp;*</font></label>
        <div class="layui-input-inline">
            <select name="extends3" lay-verify="required"  id="extends3" lay-filter="auditStatusSelect"></select>
        </div>
       </div>
       <div class="layui-inline"> 
        <label class="layui-form-label">审核状态<font color="red">&nbsp;*</font></label>
        <div class="layui-input-inline">
            <select name="auditStatus" lay-verify="required"  id="auditStatus" lay-filter="auditStatusSelect"></select>
        </div>
       </div>
    </div>
	<!-- 提交表单 -->
    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" id="breakRecordFormSubmitBtn" lay-filter="breakRecordFormSubmitBtnFilter">立即提交</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/breakRecord/examine.js"></script>
</body>
</html>

