<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>违规处理</title>
    <link rel="stylesheet" href="/favicon.ico">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/font_eolqem241z66flxr.css" media="all" />
    <link rel="stylesheet" href="../css/main.css" media="all" />

	<link rel="stylesheet" href="../assets/css/ace.min.css" />
	<link rel="stylesheet" href="../css/font-awesome.min.css" media="all">

    <!--打印样式  -->
    <style type="text/css">#breakRecordPrint{display:none}</style>
    <style type="text/css" media="print">#breakRecordPrint{display:block}</style>
    <script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
    
</head>
<body style="padding: 0 0 0 30px;background-color: white">
	<div>
		<!--搜索-->
		<div style="padding-top: 7px;padding-right: 10px">
			<div class="layui-input-inline">
				<span style="font-size: 16px;">车牌号:</span>
				<input type="text" id="searchParam" name="licenseNum" placeholder="请输入车牌号" style="border-radius:6px;height: 16px;">
				<span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;审核状态:</span>
	            <select name="auditStatus" id="remakeTypeParam"></select>
	            <span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;违规类型:</span>
	            <select name="breakType" id="breakType"></select>
			</div>
			<button class="btn btn-xs btn-primary" style="float:right;width: 80px;margin-right: 40px" id="searchBtn">
				<i class="icon-search bigger-130"></i>
				<span class="bigger-130 no-text-shadow">搜索</span>
			</button>
		</div>
		<!--功能按钮区-->
		<div class='btn-operation' style="margin:7px 0 2px 0">
			<!--添加-->
			<button class="btn btn-xs btn-warning btn-add" id="addBtn">
				<i class="icon-plus bigger-130"></i>
				<span class="bigger-130 no-text-shadow">添加</span>
			</button>
			<!--详情-->
			<button class="btn btn-xs btn-primary" id="detail">
				<i class="icon-zoom-in bigger-130"></i>
				<span class="bigger-130 no-text-shadow">详情</span>
			</button>
			<!--编辑-->
			<button class="btn btn-xs btn-primary" id="edit">
				<i class="icon-pencil bigger-130"></i>
				<span class="bigger-130 no-text-shadow">编辑</span>
			</button>
			<!--删除-->
			<button class="btn btn-xs btn-danger" id="deleteBtn">
				<i class="icon-trash bigger-130"></i>
				<span class="bigger-130 no-text-shadow">删除</span>
			</button>
			<!--导出-->
			<button class="btn btn-xs btn-primary" id="exportBtn">
				<i class="icon-download-alt bigger-130"></i>
				<span class="bigger-130 no-text-shadow">导出</span>
			</button>
			<!--打印-->
			<button class="btn btn-xs btn-primary" id="printBth">
				<i class="icon-print bigger-130"></i>
				<span class="bigger-130 no-text-shadow">打印</span>
			</button>
			<!--审核-->
			<button class="btn btn-xs btn-primary" id="examineBth">
				<i class="icon-check bigger-130"></i>
				<span class="bigger-130 no-text-shadow">审核</span>
			</button>
		</div>
	</div>
	
	<!--用户列表展示-->
	<div class="layui-form news_list" style="padding: 0 50px 0 0">
	    <table id="breakRecordTable" lay-filter="breakRecordTableFilter"></table>
	</div>
	
	<!--打印功能-->
	<div id="breakRecordPrint">
	    <h3><center>贵阳高速公路收费管理平台-违规处理表</center></h3>
	    <table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0">
	        <tr>
	            <td colspan="5" align="center"><h3>违规处理详情</h3></td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">车牌号码</td>
	            <td colspan="2" align="center">
	                <span id="licenseNum" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">违规类型</td>
	            <td colspan="2" align="center">
	                <span id="remakeType" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">进站时间</td>
	            <td colspan="2" align="center">
	                <span id="entranceTime" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">出站时间</td>
	            <td colspan="2" align="center">
	                <span id="exitTime" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">入口</td>
	            <td colspan="2" align="center">
	                <span id="entranceName" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">出口</td>
	            <td colspan="2" align="center">
	                <span id="exitName" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">应缴费(元)</td>
	            <td colspan="2" align="center">
	                <span id="extends1" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">已缴费(元)</td>
	            <td colspan="2" align="center">
	                <span id="extends2" class="cleanDate"></span>
	            </td>
	        </tr>
	        <tr>
	            <td width="15%" height="42px" align="center" style="font-weight:bold">待缴费(元)</td>
	            <td colspan="2" align="center">
	                <span id="payMoney" class="cleanDate"></span>
	            </td>
	            <td width="15%" align="center" style="font-weight:bold">违规备注</td>
	            <td colspan="2" align="center">
	                <span id="remakeContent" class="cleanDate"></span>
	            </td>
	        </tr>
	    </table>
	
	    <table class="printTable" align="center" width="800" border="1px" cellpadding="0" cellspacing="0" >
	        <thead>
	        <tr height="36px">
	            <td colspan="6" align="center"><b>行驶轨迹数据</b></td>
	        </tr>
	        <tr height="36px">
	        	<th width="70" align="center">序号</th>
	            <th width="70" align="center">车牌号码</th>
				<th width="70" align="center">通过地点</th>
				<th width="70" align="center">通过时间</th>
				<th width="70" align="center">经度</th>
				<th width="70" align="center">纬度</th>
	        </tr>
	        </thead>
	        <tbody id="drivingTrackPrintTbodyjilu">
	        </tbody>
	    </table>
	</div>
	
	<!-- 分页栏 -->
	<div id="controlListPage"></div>
	<script type="text/javascript" src="../layui/layui.js"></script>
	<script type="text/javascript" src="../js/breakRecord/list.js"></script>
	<script type="text/javascript" src="../js/utils/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/utils/jquery-jqprint.js"></script>
	<!--日期格式化工具类-->
	<script type="text/javascript" src="../js/utils/dateFormat.js"></script>
	<!--日期格式处理-->
	<script id="entranceTime" type="text/html">
    {{#   if(d.entranceTime == null||d.entranceTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.entranceTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
	</script>
	<script id="exitTime" type="text/html">
    {{#   if(d.exitTime == null||d.exitTime == ''){    }}
    /
    {{#   } else {    }}
    {{#   return Format(d.exitTime,'yyyy-MM-dd hh:mm:ss');    }}
    {{#   } }}
	</script>
	<script id="remakeTypeTp1" type="text/html">
    {{#   if(d.remakeType == null||d.remakeType == ''){   }}
	 未知类型
 	   {{#   } else if(d.remakeType == '01'){    }}
  	  闯红灯
 	   {{#   } else if(d.remakeType == '02'){    }}
 	   待缴费
 	   {{#   } else if(d.remakeType == '03'){    }}
	   压黄线
  	  {{#   }   }}
	</script>
	<script id="auditStatus" type="text/html">
    {{#   if(d.auditStatus == null||d.auditStatus == ''){   }}
	    未知状态
 	   {{#   } else if(d.auditStatus == '01'){    }}
  	  审核中
 	   {{#   } else if(d.auditStatus == '02'){    }}
 	   审核通过
 	   {{#   } else if(d.auditStatus == '03'){    }}
	    审核不通过
  	  {{#   }   }}
	</script>
</body>
</html>