<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增违规信息</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">

<!--控制器列表展示-->
<div class="layui-form news_list">
		<div style="padding-top: 20px; padding-left: 30px; padding-bottom: 20px;">
			<div class="layui-inline" style="margin-left: 100px;">
			    <span class="layui-form-label" style="width: 100px;">车牌号码查询<font color="red">&nbsp;*</font></span>
			    <div class="layui-input-inline">
			       <input type="text" id="searchParam" name="licenseNum" value="" placeholder="请输入车牌号" class="layui-input search_input">
			    </div>
			</div>
			<button style="margin-left: 20px;" data-method="notice" class="layui-btn layui-btn-xs layui-btn-normal" id="searchBtn">查询</button>
		</div>
    <form class="layui-form" id="breakRecordForm" lay-filter="breakRecordFormFilter">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">车牌号码<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="licenseNum" id="licenseNum" readonly="readonly" lay-verify="required" autocomplete="off" placeholder="请输入车辆号码"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">记录编号<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="drivingRecord" id="drivingRecord" lay-verify="drivingRecord" autocomplete="off" placeholder="请选择行驶记录"
                           class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进站时间<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="entranceTime" disabled="true" lay-verify="entranceTime" id="entranceTime" placeholder="请选择行驶起时间"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">出站时间<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="exitTime" disabled="true" lay-verify="exitTime" id="exitTime" placeholder="请选择行驶止时间"
                           class="layui-input">
                </div>
            </div>
        </div>

		<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进站名称<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="entranceName" id="entranceName" readonly="readonly" lay-verify="entranceName" autocomplete="off" placeholder="请输入入口名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">出站名称<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="exitName" id="exitName" readonly="readonly" lay-verify="exitName" autocomplete="off" placeholder="请输入出口名称"
                           class="layui-input">
                </div>
            </div>
        </div>
		
		<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">应缴费(元)<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="extends1" id="extends1" lay-verify="extends1" autocomplete="off" placeholder="请输入应缴费金额"
                           onblur="addcountPay();" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">已缴费(元)<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="extends2" id="extends2" lay-verify="extends2" autocomplete="off" placeholder="请输入已缴费金额"
                           onblur="addcountPay();" class="layui-input">
                </div>
            </div>
        </div>
		
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">待缴费(元)<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="payMoney" id="payMoney" disabled="true" lay-verify="required" autocomplete="off" placeholder="请输入待缴费用" class="layui-input">
                </div>
            </div>
        	<div class="layui-inline">
                <label class="layui-form-label">违规类型<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                	<select name="remakeType" lay-verify="required"  id="remakeType" lay-filter="remakeTypeSelect"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">违规备注</label>
                <div class=layui-input-inline>
                    <!-- <input type="text" name="remakeContent" lay-verify="remakeContent" autocomplete="off" placeholder="违规备注"
                           class="layui-input"> -->
                    <textarea name="remakeContent" lay-verify="remakeContent" style="width: 510px;min-height: 80px"
                      placeholder="请输入违规备注" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <!-- 提交表单按钮 -->
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" id="breakRecordSubmitBtn" lay-filter="breakRecordSubmitBtnFilter">立即提交</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/breakRecord/add.js"></script>
</body>
</html>