<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>违规信息编辑</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">
<form class="layui-form" id="breakRecordForm" lay-filter="breakRecordFormFilter" style="padding-top:40px;">

    <!--隐藏提交信息-->
    <div class="layui-form-item layui-hide">
        <input type="text" name="id" autocomplete="off" class="layui-input">
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车牌号码<font color="red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="licenseNum" disabled="true" lay-verify="required" autocomplete="off" placeholder="请输入车牌号码"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">记录编号<font color="red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="drivingRecord" disabled="true" id="drivingRecord" readonly="readonly" lay-verify="drivingRecord" autocomplete="off"
                       placeholder="请输入行驶记录ID"
                       class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">进站时间<font color="red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="entranceTime" disabled="true" id="entranceTime" lay-verify="entranceTime" autocomplete="off"
                       placeholder="请选择起行驶时间" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出站时间<font color="red">&nbsp;*</font></label>
            <div class="layui-input-inline">
                <input type="text" name="exitTime" disabled="true" id="exitTime" lay-verify="exitTime" autocomplete="off"
                       placeholder="请选择止行驶时间" class="layui-input">
            </div>
        </div>
    </div>
    
    <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进站名称<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="entranceName" disabled="true" lay-verify="entranceName" autocomplete="off" placeholder="请输入入口名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">出站名称<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="exitName" disabled="true" lay-verify="exitName" autocomplete="off" placeholder="请输入出口名称"
                           class="layui-input">
                </div>
            </div>
        </div>

		<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">应缴费(元)<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="extends1" onblur="countPay();" id="extends1" lay-verify="extends1" autocomplete="off" placeholder="请输入应缴费金额"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">已缴费(元)<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                    <input type="text" name="extends2" onblur="countPay();" id="extends2" lay-verify="extends2" autocomplete="off" placeholder="请输入已缴费金额"
                           class="layui-input">
                </div>
            </div>
        </div>
        
		<div class="layui-form-item">
		    <div class="layui-inline">
		        <label class="layui-form-label">待缴费(元)<font color="red">&nbsp;*</font></label>
		        <div class="layui-input-inline">
		           <input type="text" name="payMoney" disabled="true" autocomplete="off" placeholder="请输入待缴费金额"
                           class="layui-input"> 
		        </div>
		    </div>
			<div class="layui-inline">
                <label class="layui-form-label">违规类型<font color="red">&nbsp;*</font></label>
                <div class="layui-input-inline">
                	<select name="remakeType" lay-verify="required"  id="remakeType" lay-filter="remakeTypeSelect"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">违规备注</label>
				<div class="layui-input-inline">
                         <textarea name="remakeContent" id="remakeContent" lay-verify="remakeContent" style="width: 515px;min-height: 80px"
                      placeholder="请输入违规备注" autocomplete="off" class="layui-textarea"></textarea>
                </div>
			</div>
		</div>

    <!-- 提交表单 -->
    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" id="breakRecordFormSubmitBtn" lay-filter="breakRecordFormSubmitBtnFilter">立即提交</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/breakRecord/edit.js"></script>
</body>
</html>

